@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.index-carousel {
  width: 100%;
  position: relative; }
  .index-carousel .owl-carousel {
    width: 100%;
    height: 100%; }
    .index-carousel .owl-carousel .item {
      width: 100%;
      position: relative;
      margin-bottom: 5em; }
      .index-carousel .owl-carousel .item .item-img {
        width: 100%; }
        .index-carousel .owl-carousel .item .item-img img {
          width: 100%; }
          .index-carousel .owl-carousel .item .item-img img:nth-child(2) {
            display: none; }
      .index-carousel .owl-carousel .item .item-text {
        position: absolute;
        top: 10em;
        width: 80%;
        display: flex;
        margin-left: 10%;
        margin-right: 10%; }
        .index-carousel .owl-carousel .item .item-text .item-text-align {
          width: 49%;
          display: block;
          position: relative; }
          .index-carousel .owl-carousel .item .item-text .item-text-align span {
            padding: .5em 2em;
            font: 400 13px "Raleway";
            line-height: 20px; }
          .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
            font: 700 40px "Raleway";
            line-height: 50px;
            width: 75%; }
          .index-carousel .owl-carousel .item .item-text .item-text-align h2 {
            font: 300 14px "Raleway";
            line-height: 25px;
            width: 100%;
            margin-top: -.5em;
            margin-bottom: 4em; }
          .index-carousel .owl-carousel .item .item-text .item-text-align a {
            border-width: 2px;
            border-style: solid;
            border-radius: 10em;
            padding: 1em 3em;
            font: 400 13px "Raleway";
            letter-spacing: 1px;
            cursor: pointer;
            text-transform: uppercase; }
      .index-carousel .owl-carousel .item .izquierda {
        justify-content: flex-start !important; }
      .index-carousel .owl-carousel .item .derecha {
        justify-content: flex-end !important;
        text-align: right !important; }
        .index-carousel .owl-carousel .item .derecha h1 {
          text-align: right !important;
          margin-left: 25% !important; }
      .index-carousel .owl-carousel .item .centro {
        justify-content: center !important;
        text-align: center !important; }
        .index-carousel .owl-carousel .item .centro h1 {
          margin-left: auto !important;
          margin-right: auto !important; }
      .index-carousel .owl-carousel .item .carousel-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5em; }
        .index-carousel .owl-carousel .item .carousel-buttons button {
          margin: 0 0.5em; }
    .index-carousel .owl-carousel .owl-nav {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      justify-content: space-between; }
      .index-carousel .owl-carousel .owl-nav .owl-next, .index-carousel .owl-carousel .owl-nav .owl-prev {
        position: relative;
        width: 1em;
        font-size: 3em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }

.index-icons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3em; }
  .index-icons .index-icons-item {
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2.5em 1em;
    position: relative; }
    .index-icons .index-icons-item::after {
      content: '';
      width: 87%;
      height: 87%;
      background: transparent;
      display: block;
      border: 2px solid #c48e94;
      position: absolute;
      top: 6.5%;
      bottom: 6.5%;
      left: 6.5%;
      right: 6.5%; }
    .index-icons .index-icons-item:hover {
      -webkit-box-shadow: 0px 0px 7px 2px rgba(170, 170, 170, 0.3);
      -moz-box-shadow: 0px 0px 7px 2px rgba(170, 170, 170, 0.3);
      box-shadow: 0px 0px 7px 2px rgba(170, 170, 170, 0.3); }
    .index-icons .index-icons-item .index-icons-cont {
      text-align: center; }
      .index-icons .index-icons-item .index-icons-cont span {
        display: flex;
        justify-content: center;
        align-items: center; }
        .index-icons .index-icons-item .index-icons-cont span img {
          width: 4em !important; }
      .index-icons .index-icons-item .index-icons-cont h1 {
        font: 700 20px "Raleway";
        line-height: 27px;
        color: #333;
        margin-top: 1.25em; }
      .index-icons .index-icons-item .index-icons-cont h2 {
        font: 500 14px "Raleway";
        color: #666;
        line-height: 23px;
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
      .index-icons .index-icons-item .index-icons-cont button {
        position: relative;
        z-index: 10; }

.index-categories {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.25em; }
  .index-categories .index-categories-item {
    cursor: pointer; }
    .index-categories .index-categories-item img {
      width: 100%; }
    .index-categories .index-categories-item .index-categories-text {
      height: 85%;
      width: 80%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: auto;
      margin-right: auto;
      display: flex; }
      .index-categories .index-categories-item .index-categories-text .index-categories-text-sub {
        position: relative; }
        .index-categories .index-categories-item .index-categories-text .index-categories-text-sub h2 {
          font: 700 13px "Lato";
          line-height: 21px;
          text-transform: uppercase; }
        .index-categories .index-categories-item .index-categories-text .index-categories-text-sub h1 {
          font: 700 20px "Raleway";
          line-height: 25px;
          margin-top: -.1em; }
        .index-categories .index-categories-item .index-categories-text .index-categories-text-sub a {
          display: flex;
          font: 700 12px "Lato";
          line-height: 21px;
          cursor: pointer; }
          .index-categories .index-categories-item .index-categories-text .index-categories-text-sub a svg {
            width: 11px !important;
            color: inherit;
            margin-left: .5em; }
    .index-categories .index-categories-item .index-categories-text-top {
      align-items: flex-start; }
    .index-categories .index-categories-item .index-categories-text-center {
      align-items: center; }
    .index-categories .index-categories-item .index-categories-text-bottom {
      align-items: flex-end; }
    .index-categories .index-categories-item .index-categories-text-left {
      justify-content: flex-start; }
    .index-categories .index-categories-item .index-categories-text-center {
      justify-content: center; }
    .index-categories .index-categories-item .index-categories-text-right {
      justify-content: flex-end; }
  .index-categories .categories-height1 {
    height: 18em; }
  .index-categories .categories-height2 {
    height: 37.25em !important;
    grid-row: span 3; }
  .index-categories .categories-width1 {
    grid-column: span 1; }
  .index-categories .categories-width2 {
    grid-column: span 2; }
  .index-categories .categories-width3 {
    grid-column: span 3; }
  .index-categories .categories-width4 {
    grid-column: span 4; }

.index-clock {
  width: 100%;
  position: relative;
  margin-top: 1em;
  margin-bottom: 8em; }
  .index-clock .index-clock-cont {
    width: 100%;
    position: relative;
    overflow: hidden; }
    .index-clock .index-clock-cont .index-clock-img {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .index-clock .index-clock-cont .index-clock-img img {
        width: 100%; }
    .index-clock .index-clock-cont .index-clock-text-flex {
      display: flex;
      justify-content: center;
      align-items: center; }
      .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text {
        position: absolute;
        border-radius: 100em;
        top: 2em;
        background: white;
        height: 400px;
        min-height: 400px;
        width: 400px;
        min-width: 400px;
        text-align: center; }
        .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text h4 {
          font: 400 12px "Raleway";
          line-height: 20px;
          padding: .4em 1em;
          border-radius: .15em;
          margin-top: 6em;
          width: 10em;
          margin-left: 50%;
          transform: translate(-50%);
          text-transform: uppercase; }
        .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text h1 {
          color: #333;
          font: 700 30px "Raleway";
          line-height: 40px;
          margin-top: .75em; }
        .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock {
          width: 100%;
          position: relative;
          margin-bottom: 2em; }
          .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div {
              border-radius: 100em;
              width: 100%;
              background: #eee;
              height: 75px;
              width: 75px;
              margin: 0 .4em;
              display: flex;
              justify-content: center;
              align-items: center;
              align-items: center !important; }
              .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div {
                width: 100%;
                display: block; }
                .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h1 {
                  font: 700 33px "Lato";
                  margin: 0 !important;
                  margin-top: .15em !important; }
                .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h2 {
                  font: 400 15px "Lato";
                  margin: 0 !important;
                  color: #666; }
        .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text a {
          background: red;
          width: 100%;
          border-width: 2px;
          padding: 1em 3em;
          border-style: solid;
          border-radius: 10em;
          font: 400 12px "Lato";
          color: #333;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 8em;
          margin-left: 50%;
          transform: translate(-50%); }
          .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text a svg {
            width: 11px;
            margin-left: .5em; }

@media screen and (max-width: 1125px) {
  .index-carousel .owl-carousel .item .item-text {
    top: 6em; }
    .index-carousel .owl-carousel .item .item-text .item-text-align {
      width: 55%; }
      .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
        font: 700 35px "Raleway";
        line-height: 45px; }
      .index-carousel .owl-carousel .item .item-text .item-text-align h2 {
        margin-bottom: 3em; }

  .index-icons {
    width: 90%; }
    .index-icons .index-icons-item {
      width: 100%; }
      .index-icons .index-icons-item .index-icons-cont h2 {
        width: 95%;
        margin-left: auto;
        margin-right: auto; }

  .index-shop {
    width: 100%;
    position: relative;
    margin-top: 3em; }
    .index-shop h1 {
      font: 700 30px "Raleway";
      line-height: 37px;
      color: #333;
      text-align: center; }
    .index-shop h2 {
      width: 45%;
      text-align: center;
      font: 400 16px "Raleway";
      line-height: 25px;
      color: #666;
      margin-left: auto;
      margin-right: auto; }
    .index-shop .index-shop-items {
      width: 75%; } }
@media screen and (max-width: 1000px) {
  .close-menu {
    display: none; }

  .index-carousel .owl-carousel .item .item-img img {
    width: 100%; }
  .index-carousel .owl-carousel .item .item-text {
    top: 5em; }
    .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
      font: 700 30px "Raleway";
      line-height: 40px; }
    .index-carousel .owl-carousel .item .item-text .item-text-align h2 {
      width: 90%; }
  .index-carousel .owl-carousel .owl-nav .owl-next, .index-carousel .owl-carousel .owl-nav .owl-prev {
    font-size: 2.5em; }

  .index-icons .index-icons-item .index-items-cont h1 {
    font-size: 18px; }

  .index-shop h2 {
    width: 65%; }
  .index-shop .index-shop-items {
    width: 85%; }

  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text {
    height: 325px;
    min-height: 325px;
    width: 325px;
    min-width: 325px; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text h4 {
      margin-top: 4.5em;
      width: auto; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text h1 {
      font: 700 20px "Raleway";
      line-height: 30px; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock {
      width: 85%;
      margin-left: auto;
      margin-right: auto; }
      .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div {
        height: 60px;
        width: 60px; }
        .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h1 {
          font: 700 25px "Lato"; }
        .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h2 {
          font: 400 12px "Lato"; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text a {
      font: 400 11px "Lato"; } }
@media screen and (max-width: 950px) {
  .index-carousel .owl-carousel .item .item-text {
    top: 3em; }
    .index-carousel .owl-carousel .item .item-text .item-text-align h2 {
      margin-bottom: 2em; } }
@media screen and (max-width: 900px) {
  .index-icons {
    width: 95%;
    padding: 2em 0;
    background: white; }
    .index-icons .index-icons-item {
      width: 100%; }
      .index-icons .index-icons-item .index-icons-cont h1 {
        font: 700 16px "Raleway";
        line-height: 23px; }

  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text {
    top: 1em; } }
@media screen and (max-width: 850px) {
  .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
    width: 85%; }
  .index-carousel .owl-carousel .item .item-text .item-text-align h2 {
    margin-bottom: 2em;
    display: none; } }
@media screen and (max-width: 800px) {
  .index-icons {
    width: 100%; }
    .index-icons .index-icons-item {
      width: 100%;
      padding: 2em .5em; }
      .index-icons .index-icons-item::after {
        width: 95%;
        height: 95%;
        top: 2.5%;
        left: 2.5%;
        right: 2.5%; }

  .index-categories {
    grid-template-columns: 1fr 1fr; }
    .index-categories .categories-width1 {
      grid-column: span 1; }
    .index-categories .categories-width2 {
      grid-column: span 2; }
    .index-categories .categories-width3 {
      grid-column: span 2; }
    .index-categories .categories-width4 {
      grid-column: span 2; }

  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text {
    top: 1em;
    background: transparent;
    height: 100%;
    min-height: 100%;
    width: 80%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text h4 {
      font: 400 11px "Raleway";
      border-radius: .15em;
      margin-top: 1em;
      width: 10em; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text h1 {
      color: #fff;
      font: 700 25px "Raleway";
      line-height: 35px;
      margin-top: .5em; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock {
      width: 100%;
      position: relative;
      margin-bottom: 2em; }
      .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div {
          border-radius: 100em;
          width: 100%;
          background: #fff;
          height: 75px;
          width: 75px;
          margin: 0 .4em;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center !important; }
          .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div {
            width: 100%;
            display: block; }
            .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h1 {
              font: 700 33px "Lato";
              margin: 0 !important;
              margin-top: .15em !important;
              color: #333 !important; }
            .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h2 {
              font: 400 15px "Lato";
              margin: 0 !important;
              color: #666; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text a {
      width: 100%;
      border-width: 2px;
      padding: 1em 3em;
      border-style: solid;
      border-radius: 10em;
      font: 400 12px "Lato";
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8em;
      margin-left: 50%;
      transform: translate(-50%); }
      .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text a svg {
        width: 11px;
        margin-left: .5em; } }
@media screen and (max-width: 750px) {
  .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
    font-size: 25px; }
  .index-carousel .owl-carousel .item .item-text .item-text-align a {
    font-size: 12px; }
  .index-carousel .owl-carousel .owl-nav .owl-next, .index-carousel .owl-carousel .owl-nav .owl-prev {
    font-size: 2em; }

  .index-shop h2 {
    width: 85%; }
  .index-shop .index-shop-items {
    width: 95%; } }
@media screen and (max-width: 675px) {
  .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
    font-size: 23px;
    line-height: 33px;
    margin-bottom: 1em; }
  .index-carousel .owl-carousel .item .item-text .item-text-align a {
    font-size: 11px; } }
@media screen and (max-width: 650px) {
  .index-shop {
    width: 100%;
    position: relative;
    margin-top: 3em; }
    .index-shop .index-shop-items {
      grid-template-columns: repeat(3, 1fr); }

  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text a {
    margin-top: -1em; } }
@media screen and (max-width: 600px) {
  .index-carousel .owl-carousel .item .item-img {
    position: relative; }
    .index-carousel .owl-carousel .item .item-img img:nth-child(1) {
      display: none; }
    .index-carousel .owl-carousel .item .item-img img:nth-child(2) {
      display: block; }
  .index-carousel .owl-carousel .item .item-text {
    width: 90% !important; }
    .index-carousel .owl-carousel .item .item-text .item-text-align {
      width: 65%; }
      .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
        font-size: 25px;
        line-height: 35px;
        width: 100%; }

  .index-icons {
    padding: 0 0;
    margin: 1em 0;
    align-items: flex-start; }
    .index-icons .index-icons-item {
      height: auto; }
      .index-icons .index-icons-item::after {
        display: none; }
      .index-icons .index-icons-item .index-icons-cont h1, .index-icons .index-icons-item .index-icons-cont h2 {
        width: 100%; }
      .index-icons .index-icons-item .index-icons-cont h1 {
        font-size: 15px; }
      .index-icons .index-icons-item .index-icons-cont h2 {
        font-size: 14px; }

  .index-shop .index-shop-items .item-shop {
    width: 100%; }
    .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-hide .item-shop-hide-top .item-shop-hide-a a {
      position: relative;
      right: .5em;
      top: .5em; }
    .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-hide .item-shop-new, .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-hide .item-shop-discounts {
      top: -.5em;
      left: -.5em; }

  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div {
    height: 60px;
    width: 60px; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h1 {
      font: 700 20px "Lato";
      margin-top: .5em !important; }
    .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text .index-clock-clock .item-shop-clock div div h2 {
      font: 400 12px "Lato"; }
  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text a {
    font: 400 11px "Lato"; } }
@media screen and (max-width: 575px) {
  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text h4 {
    display: none; } }
@media screen and (max-width: 550px) {
  .index-shop .index-shop-items {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 35px; } }
@media screen and (max-width: 500px) {
  .index-categories {
    grid-gap: .5em; }
    .index-categories .categories-height1 {
      height: 9em; }
    .index-categories .categories-height2 {
      height: 19.5em !important;
      grid-row: span 2; }

  .index-clock .index-clock-cont .index-clock-img img {
    width: 150%;
    margin-left: auto;
    margin-right: auto; }

  .index-categories .index-categories-text-sub button {
    font-size: 9px !important; } }
@media screen and (max-width: 450px) {
  .index-carousel .owl-carousel .item .item-text {
    width: 95% !important;
    top: 2em; }
    .index-carousel .owl-carousel .item .item-text .item-text-align {
      width: 75%; }
      .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
        font-size: 20px;
        line-height: 30px;
        width: 100%; }
      .index-carousel .owl-carousel .item .item-text .item-text-align span {
        font-size: 11px; } }
@media screen and (max-width: 400px) {
  .index-carousel .owl-carousel .item .item-text .item-text-align h1 {
    font-size: 15px;
    line-height: 25px; }
  .index-carousel .owl-carousel .item .item-text .item-text-align span {
    font-size: 10px; }
  .index-carousel .owl-carousel .item .item-text .item-text-align a {
    font-size: 10px; }

  .index-icons {
    display: block;
    width: 100%;
    padding: 1em 0; }
    .index-icons .index-icons-item {
      padding: 1.5em .5em;
      margin-left: 0;
      margin-right: 0;
      width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .index-icons .index-icons-item .index-icons-cont h1 {
        font: 700 20px "Raleway";
        line-height: 27px;
        color: #333;
        margin-top: 1.25em; }
      .index-icons .index-icons-item .index-icons-cont h2 {
        font: 500 14px "Raleway";
        color: #666;
        line-height: 23px; }

  .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-hide .item-shop-hide-top .item-shop-hide-a a, .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-hide .item-shop-hide-top .item-shop-hide-bottom a {
    height: 30px;
    width: 30px; }
    .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-hide .item-shop-hide-top .item-shop-hide-a a svg, .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-hide .item-shop-hide-top .item-shop-hide-bottom a svg {
      width: 14px !important; }
  .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-clock {
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    bottom: .5em; }
    .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-clock div h1 {
      font: 700 16px "Lato"; }
    .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-clock div h2 {
      font: 400 11px "Raleway"; }
  .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-new, .index-shop .index-shop-items .item-shop .item-shop-cont .item-shop-prev .item-shop-img .item-shop-discounts {
    top: -.5;
    left: -.5; }

  .index-clock .index-clock-cont .index-clock-img img {
    width: 200%;
    margin-left: auto;
    margin-right: auto; }
  .index-clock .index-clock-cont .index-clock-text-flex .index-clock-text {
    width: 100%; } }
@media screen and (max-width: 350px) {
  .index-carousel .owl-carousel .item .item-text {
    top: 1em; }
    .index-carousel .owl-carousel .item .item-text .item-text-align {
      left: -1em; } }

/*# sourceMappingURL=dashboard-home.css.map */
