@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*:not(svg *) {
  transition: .3s all; }

.clock-a:not(svg *) {
  transition: .3s all; }

html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  min-height: 100%; }

a {
  text-decoration: none; }

li {
  list-style: none; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #747474; }

::-webkit-scrollbar-thumb:hover {
  background: #666;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:active {
  background-color: #666; }

::-webkit-scrollbar-track {
  background: #e1e1e1; }

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4; }

.centrado {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background: #fff; }

@keyframes ldio-7o49em5fo3g {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.ldio-7o49em5fo3g div {
  box-sizing: border-box !important; }

.ldio-7o49em5fo3g > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #814090 transparent #814090 transparent;
  animation: ldio-7o49em5fo3g 1.25s linear infinite; }

.ldio-7o49em5fo3g > div:nth-child(2), .ldio-7o49em5fo3g > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-7o49em5fo3g 1.25s linear infinite reverse; }

.ldio-7o49em5fo3g > div:nth-child(2) {
  border-color: transparent #ff6363 transparent #ff6363; }

.ldio-7o49em5fo3g > div:nth-child(3) {
  border-color: transparent; }

.ldio-7o49em5fo3g > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg); }

.ldio-7o49em5fo3g > div:nth-child(3) div:before, .ldio-7o49em5fo3g > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #814090;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #814090; }

.ldio-7o49em5fo3g > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #814090; }

.ldio-7o49em5fo3g > div:nth-child(4) {
  border-color: transparent; }

.ldio-7o49em5fo3g > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg); }

.ldio-7o49em5fo3g > div:nth-child(4) div:before, .ldio-7o49em5fo3g > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #ff6363;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #ff6363; }

.ldio-7o49em5fo3g > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #ff6363; }

.loadingio-spinner-double-ring-gmmmmfnzc64 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff; }

.ldio-7o49em5fo3g {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-7o49em5fo3g div {
  box-sizing: content-box; }

header {
  width: 100%;
  display: block;
  position: relative; }
  header nav {
    width: 100%;
    display: block;
    position: relative;
    height: 6em;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(170, 170, 170, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(170, 170, 170, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(170, 170, 170, 0.25); }
    header nav .nav-toggle {
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center; }
      header nav .nav-toggle a {
        cursor: pointer; }
        header nav .nav-toggle a span {
          width: 22px;
          height: 2px !important;
          margin-bottom: 4px;
          display: block;
          background: #666; }
    header nav .nav-brand {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 23%;
      justify-content: flex-start;
      margin-left: 2%; }
      header nav .nav-brand img {
        width: 5em; }
    header nav .nav-links {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center; }
      header nav .nav-links a {
        color: #666;
        padding: 1em;
        display: block;
        font-size: 13.5px;
        font-weight: 600;
        font-family: "Lato"; }
        header nav .nav-links a::after {
          width: 0%;
          height: 2px;
          background: #ff6363;
          content: '';
          display: block;
          transition: .3s all; }
        header nav .nav-links a:hover {
          color: #ff6363; }
        header nav .nav-links a:hover::after {
          width: 100%; }
      header nav .nav-links .nav-a {
        color: #ff6363; }
        header nav .nav-links .nav-a::after {
          width: 100%;
          height: 2px;
          background: #ff6363;
          content: '';
          display: block;
          transition: .3s all; }
    header nav .nav-icons {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center; }
      header nav .nav-icons .nav-search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75em; }
        header nav .nav-icons .nav-search input {
          border: 0;
          outline: none;
          padding: 1em;
          width: 8.25em;
          position: relative;
          font-size: 13.5px;
          font-weight: 400;
          font-family: "Lato";
          color: #666; }
        header nav .nav-icons .nav-search button {
          border: 0;
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          cursor: pointer;
          color: #666; }
          header nav .nav-icons .nav-search button svg {
            width: 19px !important;
            height: 19px !important; }
      header nav .nav-icons a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: .75em; }
        header nav .nav-icons a svg {
          width: 20px !important;
          height: 20px !important;
          fill: #666 !important; }
        header nav .nav-icons a span {
          display: block;
          color: white;
          background: #ff6363;
          border-radius: 10em;
          font-size: 10px;
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: .5em;
          bottom: .5em; }
        header nav .nav-icons a:nth-child(2) span {
          right: .65em; }
      header nav .nav-icons h1 {
        font-size: 12px;
        line-height: 20px;
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin-left: 1em; }
        header nav .nav-icons h1 a {
          display: block;
          color: #ff6363; }

.sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99998;
  top: 0;
  left: 0; }

.sidebar-content, .sidebar-content2 {
  width: 30%;
  background: white;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99999; }
  .sidebar-content .sidebar-first, .sidebar-content2 .sidebar-first {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em; }
    .sidebar-content .sidebar-first h1, .sidebar-content2 .sidebar-first h1 {
      font: 600 25px "Raleway";
      color: #666;
      margin-left: 1em; }
    .sidebar-content .sidebar-first span, .sidebar-content2 .sidebar-first span {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      cursor: pointer;
      margin-right: 1em; }
      .sidebar-content .sidebar-first span i, .sidebar-content2 .sidebar-first span i {
        padding: 1em;
        color: #666; }
        .sidebar-content .sidebar-first span i:hover, .sidebar-content2 .sidebar-first span i:hover {
          color: #ff6363; }
  .sidebar-content .sidebar-category, .sidebar-content2 .sidebar-category {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-top: 1px solid #e9e9e9;
    padding-top: 1.5em; }
    .sidebar-content .sidebar-category .sidebar-category-first, .sidebar-content2 .sidebar-category .sidebar-category-first {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: flex-start;
      padding-left: .5em; }
      .sidebar-content .sidebar-category .sidebar-category-first .sidebar-plus, .sidebar-content2 .sidebar-category .sidebar-category-first .sidebar-plus {
        text-align: center; }
        .sidebar-content .sidebar-category .sidebar-category-first .sidebar-plus span, .sidebar-content2 .sidebar-category .sidebar-category-first .sidebar-plus span {
          width: 8px;
          height: 8px;
          background: transparent;
          display: block;
          margin-right: .75em;
          border-bottom: 1px solid #666;
          border-right: 1px solid #666;
          transform: rotate(45deg);
          margin-top: -.25em;
          cursor: pointer; }
      .sidebar-content .sidebar-category .sidebar-category-first .sidebar-span span, .sidebar-content2 .sidebar-category .sidebar-category-first .sidebar-span span {
        border-bottom: 1px solid #ff6363 !important;
        border-right: 1px solid #ff6363 !important;
        transform: rotate(-135deg) !important;
        margin-top: .25em; }
      .sidebar-content .sidebar-category .sidebar-category-first .sidebar-text a, .sidebar-content2 .sidebar-category .sidebar-category-first .sidebar-text a {
        font: 600 18px "Raleway";
        color: #666;
        margin-bottom: .5em; }
    .sidebar-content .sidebar-category .sub-category-prev, .sidebar-content2 .sidebar-category .sub-category-prev {
      width: 100%;
      height: auto; }
      .sidebar-content .sidebar-category .sub-category-prev .sidebar-subcategory, .sidebar-content2 .sidebar-category .sub-category-prev .sidebar-subcategory {
        height: auto;
        margin: .5em 0;
        margin-left: 3em; }
        .sidebar-content .sidebar-category .sub-category-prev .sidebar-subcategory a, .sidebar-content2 .sidebar-category .sub-category-prev .sidebar-subcategory a {
          color: #555;
          font: 400 16px "Raleway"; }

.sidebar-content {
  animation: sidebar .3s linear forwards; }

.sidebar-content2 {
  animation: sidebar2 .3s linear forwards; }

@keyframes sidebar {
  0% {
    transform: translate(0%); }
  100% {
    transform: translate(-100%); } }
@keyframes sidebar2 {
  0% {
    transform: translate(-100%); }
  100% {
    transform: translate(0%); } }
.pre-footer {
  width: 100%;
  position: relative;
  background: #f5f5f5;
  padding: 1.5em 0;
  margin-bottom: -3em; }
  .pre-footer .pre-footer-cont {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px; }
    .pre-footer .pre-footer-cont .pre-footer-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pre-footer .pre-footer-cont .pre-footer-item .pre-footer-icon {
        margin-right: 1em; }
        .pre-footer .pre-footer-cont .pre-footer-item .pre-footer-icon span {
          display: flex;
          justify-content: center;
          align-items: center; }
          .pre-footer .pre-footer-cont .pre-footer-item .pre-footer-icon span svg {
            width: 35px;
            color: #ff6363 !important; }
      .pre-footer .pre-footer-cont .pre-footer-item .pre-footer-text h1 {
        font: 700 16px "Raleway";
        color: #333;
        line-height: 20px;
        margin-bottom: 0; }
      .pre-footer .pre-footer-cont .pre-footer-item .pre-footer-text h2 {
        font: 400 14px "Raleway";
        color: #666;
        line-height: 18px;
        margin-top: .25em; }

.pre-footer-newsletter {
  background: #e6e6e6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: none; }
  .pre-footer-newsletter h1 {
    font: 700 28px "Raleway";
    color: #000; }
  .pre-footer-newsletter h2 {
    font: 600 16px "Raleway";
    color: #000; }
  .pre-footer-newsletter .pre-footer-newsletter-input {
    width: 100%;
    position: relative;
    margin-top: 1em; }
    .pre-footer-newsletter .pre-footer-newsletter-input input {
      border: 2px solid #814090;
      outline: none;
      padding: 0 3%;
      border-radius: 10em;
      background: #e6e6e6;
      font: 600 15px "Lato";
      width: 94%;
      height: 45px; }
    .pre-footer-newsletter .pre-footer-newsletter-input button {
      position: absolute;
      right: -3px;
      top: 0;
      background: #814090;
      border-radius: 10em;
      height: 48px;
      width: 48px;
      outline: none;
      color: white;
      border: 0;
      font-size: 18px;
      cursor: pointer; }

footer {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 5em; }
  footer .footer {
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 1em; }
    footer .footer .footer-links {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      display: flex; }
      footer .footer .footer-links .footer-links-item {
        width: 100%;
        text-align: left; }
        footer .footer .footer-links .footer-links-item:nth-child(1) {
          width: 120%; }
          footer .footer .footer-links .footer-links-item:nth-child(1) h2, footer .footer .footer-links .footer-links-item:nth-child(1) a {
            margin-bottom: .75em; }
        footer .footer .footer-links .footer-links-item:nth-child(2), footer .footer .footer-links .footer-links-item:nth-child(3) {
          width: 90%; }
        footer .footer .footer-links .footer-links-item h1 {
          font: 700 20px "Raleway";
          margin-bottom: 1.25em;
          color: #353535; }
        footer .footer .footer-links .footer-links-item h2, footer .footer .footer-links .footer-links-item a {
          display: block;
          font: 600 14px "Raleway";
          color: #666;
          line-height: 20px;
          margin-bottom: 1.25em; }
        footer .footer .footer-links .footer-links-item h2 {
          display: flex; }
          footer .footer .footer-links .footer-links-item h2 a {
            margin-left: .5em;
            font-family: "Open Sans"; }
        footer .footer .footer-links .footer-links-item a:hover {
          color: #333; }
        footer .footer .footer-links .footer-links-item .footer-input {
          width: 100%;
          border-radius: 10em;
          position: relative;
          margin-top: 3em; }
          footer .footer .footer-links .footer-links-item .footer-input input {
            border: 0;
            border-radius: 10em;
            padding: 0 5%;
            outline: none;
            border: 1px solid #ccc;
            width: 90%;
            height: 45px; }
          footer .footer .footer-links .footer-links-item .footer-input button {
            display: block;
            position: absolute;
            top: 0px;
            right: -2px;
            background: #ff6363;
            color: white;
            border: 0;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10em;
            width: 45px;
            height: 45px;
            font-size: 1.25em;
            cursor: pointer; }
    footer .footer .footer-last {
      width: 85%;
      margin-top: 3em;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      padding: 1em 0;
      border-top: 1px solid #ddd; }
      footer .footer .footer-last .footer-last-text {
        width: 70%; }
        footer .footer .footer-last .footer-last-text h3 {
          font: 500 16px "Raleway";
          color: #333; }
          footer .footer .footer-last .footer-last-text h3 a {
            color: #999; }
      footer .footer .footer-last .footer-last-cards {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 8em; }
        footer .footer .footer-last .footer-last-cards .footer-last-cards-img img {
          margin: 0 .25em; }
        footer .footer .footer-last .footer-last-cards .footer-last-cards-icons {
          display: none; }

.up {
  background: #383838;
  font-size: 1.3em;
  color: #fff;
  cursor: pointer;
  position: fixed;
  right: 10px;
  border-radius: 10em;
  z-index: 99999;
  height: 50px;
  width: 50px;
  text-align: center;
  transition: .3s all;
  animation: up .5s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center; }
  .up svg {
    width: 1em;
    position: relative; }

.up2 {
  background: #383838;
  font-size: 1.3em;
  color: #fff;
  cursor: pointer;
  position: fixed;
  right: 10px;
  border-radius: 10em;
  z-index: 99999;
  height: 50px;
  width: 50px;
  text-align: center;
  transition: .3s all;
  animation: up2 .5s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center; }
  .up2 svg {
    width: 1em;
    position: relative; }

@keyframes up {
  0% {
    bottom: 15px; }
  100% {
    bottom: -100px; } }
@keyframes up2 {
  0% {
    bottom: -100px; }
  100% {
    bottom: 15px; } }
.breadcrumb {
  width: 100%;
  text-align: center;
  margin-top: 5em; }
  .breadcrumb h1 {
    font: 700 28px "Raleway";
    line-height: 35px;
    color: #333; }
  .breadcrumb h2 {
    font: 500 14px "Raleway";
    line-height: 22px;
    color: #999;
    margin-top: -.5em; }
    .breadcrumb h2 a {
      color: #333;
      font-weight: 600; }

.error {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .error .error-content {
    padding: 5em 0; }
    .error .error-content img {
      width: 30em;
      display: block;
      margin-left: 50%;
      transform: translate(-50%); }
      .error .error-content img:nth-child(2) {
        width: 13em;
        margin-top: 2em; }
    .error .error-content h2 {
      font: 700 23px "Raleway";
      color: #454545;
      line-height: 30px; }
    .error .error-content h3 {
      font: 500 16px "Raleway";
      color: #666;
      line-height: 22px;
      margin-top: 1em;
      margin-bottom: 3em; }
    .error .error-content a {
      font: 700 14px "Raleway";
      color: white;
      background: #ff6363;
      border-radius: 10em;
      padding: 1em 4em; }
      .error .error-content a:hover {
        background: #e45959; }

@media screen and (max-width: 550px) {
  .error .error-content img:nth-child(1) {
    width: 100%; }
  .error .error-content img:nth-child(2) {
    width: 45%; }
  .error .error-content h2 {
    font: 700 19px "Raleway";
    line-height: 28px; }
  .error .error-content h3 {
    font: 500 14px "Raleway";
    line-height: 20px; }
  .error .error-content a {
    font: 700 13px "Raleway"; } }

/*# sourceMappingURL=error.css.map */
