
@media screen and (max-width:1125px){
	.pre-footer{
		.pre-footer-cont{
			width: 95%;
		} 
	}                                       
	footer{                                   
		.footer{
			.footer-links{
				width: 95%;
			}        
			.footer-last{
				width: 95%;
			}
		}
	} 
	.contact-icons{
		width: 90%;   
	}       
	.single-features{ 
		.owl-carousel{
			.owl-nav{
				.owl-prev{
					left: -7.5%; 
				}
				.owl-next{
					right: -7.5%;
				}
			}   
		}
	}  
	.wishlist{
		width: 95%;
		.wishlist-product{
			.wishlist-product-item{
				position: relative;
				&:nth-child(4){
					span{
						position: absolute;
						top: -.5em;
						right: 0;
					}
				}  
			}
			form{
				position: relative;
				span{
					position: absolute;
					top: -.5em;   
					right: 0em;  
				}
				button{
					width: 100%;
				}
			}
		}
	}
	.cart-buttons{
		width: 95%;
	}
	.cart-finish{
		width: 95%;
	}  
	header{         
		nav{
			.nav-brand{
				width: 15%;     
				margin-left: 2%;  
			}       
			.nav-icons{
				.nav-search{
					@include flex; 
					padding: .75em;
					input{
						animation: search .5s linear forwards
					}
				}
				.nav-search2{
					animation: search2 .5s linear forwards;
				}
			}
		}
	}                                                           
	.about-info{
		width: 95%;
	} 
	.about-brands{
		h1{
			font: 700 35px $rale;
		}
		img{
			width: 95%;
			margin-left: 2.5%;
			margin-right: 2.5%;
		}
		.about-brands-img-prev{
			.about-brands-img{
				width: 85%;
			}
		} 
	}
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{  
					top: 6em;  
					.item-text-align{  
						width: 55%;                                     
						h1{
							font: 700 35px $rale;
							line-height: 45px; 
						}   
						h2{
							margin-bottom: 3em;   
						}        
					}  
				}     
			}      
		}
	}
	.index-icons{
		width: 90%;
		.index-icons-item{
			width: 100%;
			.index-icons-cont{
				h2{
					width: 95%;
					@include margin;
				}
			}
		}
	}
	.index-shop{
		width: 100%;
		position: relative;
		margin-top: 3em;
		h1{
			font: 700 30px $rale;
			line-height: 37px;
			color: #333;
			text-align: center; 
		}
		h2{
			width: 45%;
			text-align: center;
			font: 400 16px $rale;
			line-height: 25px;
			color: #666;
			@include margin;
		}         
		.index-shop-items{
			width: 75%;
		}
	}
	.categories{
		width: 95%;
	}
	.aviso{
		width: 85%;
	}
} 

@media screen and (max-width:1100px){
	.single-product{
		width: 95%;
		margin-top: 4em;   
	}   
	.single-description{
		width: 95%;
	}
}

@media screen and (max-width:1070px){
	@keyframes search{
		0%{
			width: 550%;
			position: relative;
			right: 500%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}

	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 550%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 500%; 
		}   
	}    
}

@media screen and (max-width:1030px){
	@keyframes search{
		0%{
			width: 600%;
			position: relative;
			right: 550%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}

	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 600%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 550%; 
		}   
	}    
}

@media screen and (max-width:1000px){
	.contact-icons{
		width: 85%;
		display: grid;
		grid-template-columns: 1fr 1fr;   
		.contact-icons-item{   
			margin-bottom: 4em;      
		}
	}
	.single-description-img{
		width: 10% !important;
	} 
	.single-description-text{
		width: 90% !important;
	}
	.nav-icons{
		h1{
			display: none !important;
		}
	}
	.nav-brand{
		width: 23% !important;
	}
	@keyframes search{
		0%{
			width: 400%;
			position: relative;
			right: 350%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}

	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 400%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 350%; 
		}   
	}   
	.index-carousel{
		.owl-carousel{
			.item{
				.item-img{
					img{
						width: 100%;  
					}
				}                         
				.item-text{  
					top: 5em;  
					.item-text-align{  
						h1{
							font: 700 30px $rale;
							line-height: 40px; 
						}   
						h2{
							width: 90%;
						}
					}  
				}     
			}      
			.owl-nav{
				.owl-next,.owl-prev{
					font-size: 2.5em; 
				}
			}
		}
	} 
	.index-icons{
		.index-icons-item{
			.index-items-cont{
				h1{
					font-size: 18px;
				}
			}
		}
	}
	.index-shop{
		h2{
			width:65%;
		}
		.index-shop-items{
			width: 85%;
		}
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					height: 325px;
					min-height: 325px;
					width: 325px;
					min-width: 325px;
					h4{
						margin-top: 4.5em;
						width: auto;
					}
					h1{
						font: 700 20px $rale;
						line-height: 30px;
					}
					.index-clock-clock{
						width: 85%;
						@include margin;
						.item-shop-clock{
							div{
								height: 60px;
								width: 60px; 
								div{
									h1{
										font: 700 25px $lato;
									}
									h2{
										font: 400 12px $lato; 
									}
								}
							}
						}
					}
					a{
						font: 400 11px $lato;
					}
				}
			}
		}
	}
	.shop-products{
		.shop-products-second{
			grid-template-columns: 1fr 1fr;
		}
	}     
}   

@media screen and (max-width:950px){
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{  
					top: 3em;  
					.item-text-align{  
						h2{
							margin-bottom:2em;
						}   
					}  
				}     
			}      
		}
	} 
}

@media screen and (max-width:900px){
	.pre-footer{
		.pre-footer-cont{
			grid-template-columns: repeat(2,1fr);
			width: 65%;           
			.pre-footer-item{
				width: 100%;
				margin-bottom: 1em;
				justify-content: flex-start;  
			}
		} 
	}                                       
	footer{                                   
		.footer{
			.footer-links{
				display: block;
				.footer-links-item{
					width: 50% !important;
					float: left;   
					text-align: left;
					margin-bottom: 1em;     
					.footer-input{
						width: 90%;
						input{
							height: 55px;
							padding-bottom: 0;
							padding-top: 0;
						}
						button{
							top: 0px;
							right: -2px;
							@include flex;
							border-radius: 10em;
							width: 55px;
							height: 55px;
						}
					}
				}     
			} 
			.footer-last{
				margin-top: 4em;
				h3{
					line-height: 28px !important;
				}
				.footer-last-cards{
				padding-right: 0em;
				}
			}
		}
	}         
	.cart-finish{
		.cart-coupons{
			form{
				display: block;
				input{
					width: 20em;
				}
				button{
					width: 20em;
					margin-top: .25em;
					margin-left: 0;    
					padding: .75em 1em;   
				}
			}
		}
	}
	.about-info{
		width: 75%;
		display: block;
		.about-info-item{
			margin: 0;
			margin-bottom: 3em; 
			img{
				height: auto;
			}
		}
	}  
	.about-why-us{
		.about-why-us-benefits{
			width: 95%;
			.about-why-us-video{
				width: 30em;
			}
		}
	}
	.index-icons{
		width: 95%;
		padding: 2em 0;
		background: white;
		.index-icons-item{
			width: 100%;
			.index-icons-cont{
				h1{
					font: 700 16px $rale;
					line-height: 23px;
				}
			}
		}
	}  
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					top:1em;
				}
			}
		}
	}
	.categories{
		width: 85%;
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (max-width:865px){
	@keyframes search{
		0%{
			width: 450%;
			position: relative;
			right: 400%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}
	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 450%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 400%; 
		}   
	}    
}   

@media screen and (max-width:850px){
	.single-product{
		display: block;
		margin-top: 1em;
		.single-product-img{    
			width: 70% !important;
			@include margin;
			.owl-carousel{
				.owl-item{
					a{
						width: 80%;
						display: block;
						@include margin;
					}    
				}
			}   
			.single-product-img-links{
				width: 80%;
				@include margin;
				margin-top: .5em;
				justify-content: center;
				a{
					width: 6em;
					margin: 0 1em;
				}      
			}
		}
		.single-product-text{
			width: 100%;
			margin-top: 4em;
			form{
				button{
					&:nth-child(3){
						width: 20em;
					}
				}
			}
			.single-text-desc{
				h5{
					width: 40%;
				}
			}
		}
	}   
	.single-features{ 
		.owl-carousel{
			.owl-prev{
				left: -9% !important; 
			}
			.owl-next{
				right: -9% !important;
			}
		}  
	}
	.wishlist-product-item{
		.input-group{
			button{
				width: 30px;
			}
			input{
				width: 30px;
			}
		}
	}
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{  
					.item-text-align{  
						h1{
							width:85%;
						}
						h2{
							margin-bottom:2em;
							display: none;
						}   
					}  
				}     
			}      
		}
	} 
	.popup{
		.popup-cont{
			width: 95%;
		}
	}
} 

@media screen and (max-width:810px){
	@keyframes search{
		0%{
			width: 475%;
			position: relative;
			right: 425%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}
	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 475%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 425%; 
		}   
	}    
}

@media screen and (max-width:800px){
	.contact-form{
		width: 90%;
	}           
	.about-brands{
		.about-brands-img-prev{
			.about-brands-img{
				img{
					width: 4.5em;
				}
			}
		} 
	}
	.index-icons{
		width: 100%;
		.index-icons-item{
			width: 100%;
			padding:2em .5em;
			&::after{
				width: 95%;
				height: 95%;
				top: 2.5%;
				left: 2.5%;
				right: 2.5%;
			}
		}
	}
	.index-categories{
		grid-template-columns: 1fr 1fr;
		// Ancho del cuadro
		.categories-width1{
			grid-column: span 1;
		}
		.categories-width2{
			grid-column: span 2;
		}
		.categories-width3{
			grid-column: span 2;
		}
		.categories-width4{
			grid-column: span 2;
		}
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					top: 1em;
					background: transparent;
					height: 100%;
					min-height: 100%;
					width: 80%;
					min-width: 80%;
					@include margin;
					h4{
						font: 400 11px $rale;
						border-radius: .15em;
						margin-top: 1em;
						width:10em;
					}
					h1{
						color: #fff;
						font: 700 25px $rale;
						line-height: 35px;
						margin-top: .5em;
					}
					.index-clock-clock{
						width: 100%;
						position: relative;
						margin-bottom: 2em;
						.item-shop-clock{
							width: 100%;
							@include flex;
							div{
								border-radius: 100em;
								width: 100%;
								background: #fff;
								height: 75px;
								width: 75px; 
								margin: 0 .4em;
								@include flex;
								align-items: center !important;
								div{
									width: 100%;
									display: block;
									h1{
										font: 700 33px $lato;
										margin: 0 !important;
										margin-top: .15em !important;
										color:#333 !important;
									}
									h2{
										font: 400 15px $lato; 
										margin: 0 !important;
										color: #666;
									}
								}
							}
						}
					}
					a{
						width: 100%;
						border-width: 2px;
						padding: 1em 3em;
						border-style: solid;
						border-radius: 10em;
						font: 400 12px $lato;
						color: #333;
						@include flex;
						width: 8em;
						margin-left: 50%;
						transform: translate(-50%);
						svg{
							width: 11px;
							margin-left: .5em;
						}
					}
				}
			}
		}
	}
	.modal-contact{
		@include flex;
		.modal-contact-cont{
			width: 85%;
			padding: 2em 5%;
			margin-top: 0;
		}
	}
}

@media screen and (max-width:785px){
	@keyframes search{
		0%{
			width: 500%;
			position: relative;
			right: 450%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}
	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 500%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 450%; 
		}   
	}    
}

@media screen and (max-width:765px){
	@keyframes search{
		0%{
			width: 525%;
			position: relative;
			right: 475%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}
	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 525%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 475%; 
		}   
	}    
}

@media screen and (max-width:750px){
	header{         
		nav{
			.nav-brand{
				img{
					width: 4em;    
				}
			}       
			.nav-links{
				a{
					padding: 1em .75em;    
				}
			}  
		}
	}  
	@keyframes search{
		0%{
			width: 550%;
			position: relative;
			right: 500%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}
	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 550%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 500%; 
		}   
	}  
	.about-why-us{
		.about-why-us-benefits{
			.about-why-us-carac{
				margin-left: 1em;
			}
		}
	}              
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					.item-text-align{
						h1{
							font-size: 25px;
						}
						a{
							font-size: 12px;;
						}
					}  
				}
			}
			.owl-nav{
				.owl-next, .owl-prev{
					font-size: 2em;
				}
			}
		}
	} 
	.index-shop{
		h2{
			width:85%;
		}
		.index-shop-items{
			width: 95%;
		}
	}
	.shop-products{
		.shop-products-first{
			display: none;
		}
		.shop-products-second{
			width:95%;
			@include margin;
		}
	}
}

@media screen and (max-width:725px){
	@keyframes search{
		0%{
			width: 600%;
			position: relative;
			right: 550%;
			background: white;
		}
		99%{
			width: 0%; 
			right: 0;
			background: white;
		}
		100%{
			z-index: -1;
			width: 0%; 
			right: 0;
			background: white;
		}
	}
	@keyframes search2{
		0%{
			width: 0%;
			z-index: -1;
			right: 0;
		}
		100%{
			width: 600%; 
			z-index: 1; 
			background: white;
			border: 1px solid #eee;
			position: relative;
			right: 550%; 
		}   
	}    
	.popup{
		.popup-cont{
			.popup-text{
				h1{
					font: 700 20px $rale;
				}
			}
		}
	}
}

@media screen and (max-width:700px){
	.pre-footer{
		.pre-footer-cont{
			grid-template-columns: repeat(2,1fr);
			width: 75%;           
		} 
	}     
	header{
		.nav{
			.nav-icons{
				justify-content: flex-end;
				.nav-search{
					display: none;
				}
			}
			.nav-brand{
				width: 30% !important;
			}
		}
	}
	.categories{
		width: 95%;
	}
}

@media screen and (max-width:675px){
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					.item-text-align{
						h1{
							font-size: 23px;
							line-height: 33px;
							margin-bottom: 1em;
						}
						a{
							font-size: 11px;;
						}
					}  
				}
			}
		}
	} 
}

@media screen and (max-width:650px){
	.wishlist{
		.wishlist-head{
			.wishlist-head-item{
				h2{
					font-size: 18px;
				}
			}
		}
	}
	.wishlist-product-item{
		.input-group{
			button{
				width: 25px;
			}
			input{
				width: 25px;
			}
		}
	}
	header{
		.nav{
			.nav-links{
				a{
					font-size: 12.5px;
				}
			}
		}
	}
	.about-brands{
		.about-brands-img-prev{
			.about-brands-img{
				img{
					width: 3.5em;
				}
			}
		} 
	}
	.index-shop{
		width: 100%;
		position: relative;
		margin-top: 3em;
		.index-shop-items{
			grid-template-columns: repeat(3,1fr);
		}  
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					a{
						margin-top:-1em;
					}
				}
			}
		}
	}
}

@media screen and (max-width:600px){
	body{
		background: #e6e6e6;
	}
	#up{
		display: none;
	}
.pre-footer{
	background: #e6e6e6;
	margin-bottom: 0em;           
	.pre-footer-cont{
		width: 85%;
		.pre-footer-item{    
			width: 100%;
			display: block;  
			text-align: center;
			margin-bottom: 1.25em;
			.pre-footer-icon{
				margin-right: 0em;  
				margin-bottom: 1em;
				span{
					svg{
						width: 45px;
						color: #000 !important;
					}
				}
			}
		}
	}       
}                                       	
	.pre-footer-newsletter{
		display: block;
		margin-top: 2em;
	}
	footer{ 
		background: white;
		padding-top: 2em;  
		margin-top: 2em;
		.footer{
			.footer-links{
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: 95%;
				margin-left: 5%;
				.footer-links-item{
					width: 100% !important;      
					&:nth-child(1){
						grid-column: span 2;
					}  
					&:nth-child(2),&:nth-child(3){
						width: 100%;   
					}
					&:nth-child(4){
						display: none !important;     
					}
					h1{
						font: 700 20px $rale;
						margin-bottom: 1.25em;
						color: #353535;
						width: 100%; 
					}
					h2, a{
						display: block;
						font: 600 14px $rale;
						color: #666;
						line-height: 20px;
						margin-bottom: 1.25em;
					}  
					h2{
						display: flex;   
						a{
							margin-left: .5em; 
							font-family: $open;
						} 
					}              
					a{
						&:hover{
							color: #333;
						}
					}
					.footer-input{
						width: 100%;
						border-radius: 10em;
						position: relative;
						margin-top: 3em;
						input{
							border: 0;
							border-radius: 10em;
							padding: 0 5%;
							outline: none;
							border: 1px solid #ccc;
							width: 90%;
							height: 45px;
						}
						button{
							display: block;
							position: absolute;
							top: 0px;
							right: -2px;
							background: $c2;
							color: white;
							border: 0;
							outline: none;
							@include flex;
							border-radius: 10em;
							width: 45px;
							height: 45px;
							font-size: 1.25em;
							cursor: pointer
						}
					}
				}
			}
			.footer-last{
				display: block;
				.footer-last-text{
					width: 90%;
					margin-bottom: 1em;
					@include margin;
					h3{
						font: 500 14px $rale;
						text-align: center;
					}
				}
				.footer-last-cards{
				width: 100%;
				justify-content: center;
					.footer-last-cards-img{
						display: none;
					}
					.footer-last-cards-icons{
						@include flex;
						span{
							display: block;
							margin: 0 .5em;
							svg{
								width: 55px;      
							}
						}
					}
				}
			}
		}
	}
	.contact-icons{
		width: 85%;
		display: block;
		grid-template-columns: 1fr;
		margin-top: 2em;      
		.contact-icons-item{
			text-align: left;     
			margin-bottom: 2em;
			span{
				justify-content: flex-start;  
				svg{
					color: #000;     
				}
			}
			h1{
				margin-top: .5em;
				margin-bottom: .5em;
			}
		}
	}
	.contact-map{
		display: none;
	}
	.contact-form{
		margin-bottom: 3em;
		form{
			.contact-form-input{
				display: block;
				input{
					width: 94%; 
					margin-bottom: 1.25em;
					padding: 1em 3%;
				}
			}
			button{
				display: block;
				margin-left: 00%;
				transform: translate(0%);
				width: 100%;
				background: $c1;
				margin-top: 1em;
				&:hover{
					background: $c1;    
				}
			}
		}
	}  
	.breadcrumb{
		margin-bottom: 3em;
		margin-top: 0;
		background: $c1;
		padding: .25em 0;    
		h1{
			color: white;
			padding: 0 .5em;
			font-size: 35px;
			line-height: 47px; 
			text-align: left;
		}
		h2{
			display: none;
		}
	}
	.single-product{
		width: 95%;
		.single-product-img{    
			width: 100% !important;
			.owl-carousel{
				width: 100% !important;
				.owl-item{
					a{
						width: 95% !important;
					}
					.heart-hide{
						display: block;
					}
				}
			}        
			.single-product-img-links{
				background: white;
				width: 95%;
				a{
					width: 5em;
				}
			}
		}
		.single-product-text{
			.single-product-stars{
				h2{
					color: #999; 
				}
			}
			form{
				display: block;       
				.input-group{
					justify-content: flex-start !important;
					margin-bottom: 1em;
					input{
						width: 100px;
					}        
				}
				button{
					&:nth-child(3){
						margin: 0 0em;
						background: $c1;
						width: 100%;
						margin-bottom: 1em;
						&:hover{
							background: $c1;  
						}
					}
					&:nth-child(4){
						display: none;
					}
				}
				.disabled{
					background: #f5f5f5 !important;
					color: #666 !important;   
				} 
			}
			.single-text-desc{
				margin-top: 0;
			}
			.single-text-desc1{
				border-top: 0px solid #f4f4f4;
			}
		}
	} 
	.single-description{
		.single-descriptions-links{
			&::after{
				width: 0%;
			}
			a{
				background: transparent;
				font-size: 15px;
				padding: 0 .5em;
			}
		}
		.owl-carousel{
			padding-bottom: 1em;
			.owl-item{
				h1{
					font: 700 18px $rale;
					line-height: 30px;
				}
				h2{
					font: 500 15px $rale;
					line-height: 26px;
				}
			}   
			.single-description-reviews{
				.single-description-img{
					width: 15% !important;
					span{
						margin-top: -3em;
					}
				} 
				.single-description-text{
					width: 85% !important;
					.single-descriptions-text-sub{
						.single-descriptions-name{
							h3{
								font: 300 15px $lato;
								line-height: 23px;
							}
						}
					}        
					.single-descriptions-comment{
						h3{
							font: 400 15px $rale;
							line-height: 23px;
						}
					}
				}
			}
			form{
				h3{
					font: 500 15px $rale;
					line-height: 24px;
				}
				button{
					background: $c1;
				}
			}
		}
	}  
	.single-features{ 
		.single-features-second{
			display: grid !important;
		}
		h1{
			font: 700 25px $rale;
			line-height: 40px;
			margin-bottom: 1.5em;
		}
		.owl-carousel{
			display: none !important;
		}
	} 
	.breadcrumb-wishlist{
		h1{
			font-size: 50px !important;
			margin-top: .5em !important;
		}
	}       
	.wishlist-empty{
		img{
			width: 65%;
		}
		h1{
			font: 700 20px $rale;
			line-height: 32px;
			width: 90%;
			@include margin;
		}
		h2{
			width: 90%;
			@include margin;
		}
		a{
			background: $c1; 
		}
	}
	.wishlist{
		display: none;
	}
	.wishlist-second{
		display: grid;
	}
	.cart-second{
		display: block;
	}    
	.cart-buttons{
		display: block;
		a{
			font: 700 13px $lato;
			padding: 1em 3%;
			display: block;
			width: 94%;
			margin-bottom: 1em;
			text-align: center;
			background: #e6e6e6;
			color: #666;
			border: 1px solid #b3b3b3;
			&:hover{
				background: #ccc;
			}
			&:nth-child(2){
				color: black;
				border: 1px solid #000;
			}
		}
	}      
	.cart-finish{
		display: block;
		.cart-coupons{
			border: 1px solid #b3b3b3;  
			padding: 1em;
			form{
				input{
					padding: 1em 0;
					width: 100%;
				}
				button{
					background: $c1;
					padding: 1em 0;
					width: 100%;
					margin-top: .5em;
					display: block;
				}
			}
		}         
		.cart-total{
			padding: 1em;
			border: 1px solid #b3b3b3;
			width: auto;
			margin-top: 2em;
			h1{
				display: none;
			}
			.cart-total-item{
				h3{ 
					font: 700 15px $lato;
					color: #000;
				}
				&:nth-child(2),&:nth-child(3){ 
					border-bottom: 1px solid #b3b3b3;
				}
			}
			a{
				background: $c1;
				font: 500 14px $lato;
				letter-spacing: 1px;
			}
		}
	}  
	.sidebar-content,.sidebar-content2,.sidebar{
		display: none;
	}
	header{       
		background: #e6e6e6;         
		.nav{
			-webkit-box-shadow: 0px 0px 0px 0px rgba(170, 170, 170, 0.25);
			-moz-box-shadow:    0px 0px 0px 0px rgba(170, 170, 170, 0.25);
			box-shadow:         0px 0px 0px 0px rgba(170, 170, 170, 0.25);	
			.nav-toggle{
				display: none;
			}               
			.nav-brand{
				width: 18% !important;
				img{
					width: 70%;    
				}
			}       
			.nav-links{
				display: none;
			}  
			.nav-icons{
				display: none;
			}
			.nav-search-responsive{
				display: block;
			}
			.nav-toggle-responsive{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}    
	.sidebar-second{
		display: block;
		width: 90% !important;
	}
	.about-why-us{
		background: #1e1e1e;
		.about-why-us-benefits{
			display: block;
			.about-why-us-video{
				width: 100%;
				img,video{
					width: 90%;
					@include margin;
					display: block;
				}
			}
			.about-why-us-carac{
				margin-left: 0;
				margin-top: 2em;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 10px;
				.about-why-us-item{
					width: 100%;
					display: block;
					column-span: span 1;
					text-align: center;
					.about-why-us-icon{
						margin-right: 0;
						span{
							svg{
								width: 45px;
								color: white;   
							}
						}
					}    
					.about-why-us-text{
						h3{
							font: 700 19px $rale;
							color: white;
							line-height: 30px;
						}
						h4{
							font: 300 13px $rale;
							color: white;
							line-height: 22px;
							margin-top: -1em;   
						}
					}
				}
			}
		}
	}
	.about-brands{
		h1{
			font: 700 30px $rale;
			line-height: 45px;
		}
		img{
			&:nth-child(2){
				display: none;	   
			}
		}
		.about-brands-img-prev{
			width: 95%;
			background: #e6e6e6;
			.about-brands-img{
				background: #e6e6e6;
				width: 100%;
				margin-top: 2em;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 10px;    
				text-align: center;
				img{
					width: 5.5em;
					display: block;
					margin: 0;
					cursor: pointer;
					@include margin;
					&:nth-child(5){
						grid-column: span 2;
					}
				}
			}
		} 
	}
	.index-carousel{
		.owl-carousel{
			.item{
				.item-img{
					position: relative;
					img{
						&:nth-child(1){
							display: none;
						}
						&:nth-child(2){
							display: block;
						}
					}
				}
				.item-text{
					width: 90% !important; 
					.item-text-align{
						width:65%;
						h1{
							font-size:25px;
							line-height: 35px;
							width:100%;
						}
					}
				}
			}      
		}
	} 
	.index-icons{
		padding: 0 0;
		margin: 1em 0;
		align-items:flex-start;
		.index-icons-item{
			height:auto;
			&::after{
				display: none;
			}       
			.index-icons-cont{
				h1,h2{
					width: 100%;
				}
				h1{
					font-size:15px;
				}
				h2{
					font-size:14px;
				}
			}
		}
	}  
	.index-shop{
		.index-shop-items{
			.item-shop{   
				width: 100%; 
				.item-shop-cont{ 
					.item-shop-prev{
						.item-shop-img{
							.item-shop-hide{
								.item-shop-hide-top{
									.item-shop-hide-a{ 
										a{
											position:relative;
											right:.5em;
											top:.5em;
									}
								}
							}
								.item-shop-new,.item-shop-discounts{
								top: -.5em; 
								left: -.5em;
								}
							}
						}       
					}
				}
			}
		}  
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					.index-clock-clock{
						.item-shop-clock{

							div{
								height: 60px;
								width: 60px; 
								div{
									h1{
										font: 700 20px $lato;
										margin-top: .5em !important;
									}
									h2{
										font: 400 12px $lato; 
									}
								}
							}
						}
					}
					a{
						font: 400 11px $lato;
					}
				}
			}
		}
	}
	.categories{
		grid-template-columns: 1fr;
	}
	.breadcrumb-shop{
		h1{
			margin-top: .75em;
		}
	}
	.shop-filter{
		background: #e6e6e6;
		.shop-filter-cont{
			div{
				&:nth-child(1){
					select{
						background: #e6e6e6;
					}
				}
				&:nth-child(3){
				.span-list svg{
						color: $c1 !important;
					}
				}
			}
		}
	}
	.shop-products{
		.shop-products-second{
			.shop-button-charge{
				bottom: -5em;
			}
			.item-shop{   
				.item-shop-cont{ 
					.item-shop-prev{
						.item-shop-img{         
							.item-shop-hide{
								.item-shop-hide-top{
									position: relative;
									top: .5em;
									right: 1em;
								}
							}
							.item-shop-new, .item-shop-discounts{
								top: -.5em; 
								left: -.5em;        
							}
						}       
						.item-shop-text{
							margin-top: .5em;  
						} 
					}
				}
			}
		}
		.shop-products-list{
			.item-shop{
				border-top: 1px solid #ddd;
				.item-shop-cont{
					.item-shop-prev{
						.item-shop-img{
							.item-shop-hide{
								display: none;
							}
						}
						.item-shop-text{
							h2{
								color: #111;
							}
						}
					}
				}
			}
	
		}
	}
	.aviso{
		width: 95%;
		padding-top: 1em;
		li{
			padding-left:1.5em !important;
		}
	}
	.popup{
		.popup-cont{
			display: block;
			position:relative;
			.popup-img, .popup-text{
				width:100%
			}
			.popup-img{
				overflow: hidden;
				height:10em;
				img{
					width: 100%;
					position: relative;
					height:100%;
				}
			}
			.popup-text{
				.popup-close{
					position:absolute;
					top: 1em;
					right: 1em;
					span{
						background:transparent;
						color:white;
					}
				}
			}
		}
	}
}

@media screen and (max-width:575px){
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					h4{
						display:none;
					}
				}
			}
		}
	}
}

@media screen and (max-width:550px){
	.index-shop{
		.index-shop-items{
			grid-template-columns: repeat(2,1fr);
			grid-row-gap: 35px;
		}  
	}
}

@media screen and (max-width:500px){
	.about-info{
		width: 95%;
		.about-info-item{
			margin: 0;
			margin-bottom: 3em; 
			img{
				height: auto;
			}
		}
	}
	.index-categories{
		grid-gap: .5em;
		.categories-height1{
			height: 9em;
		}
		.categories-height2{
			height: 19.5em !important;
			grid-row: span 2;	
		}
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-img{
				img{
					width: 150%;
					@include margin;
				}
			}
		}
	}
	.shop-products{
		.shop-products-list{
			.item-shop{
				.item-shop-cont{
					.item-shop-prev{
						.item-shop-img{
							width: 25% !important;
						}
						.item-shop-text-list{
							margin-left: 2.5% ;
							margin-right: 2.5% ;
							width: 50% !important;
						}
						.item-shop-text{
							width: 20% !important;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:450px){
	.pre-footer{
		.pre-footer-cont{
			width: 100%;
		}       
	}      
	.single-features{
		.single-features-second{
			.item-shop-new{
				top: .25em !important;
				left: .25em !important;
				span{
					height: 35px !important;
					width: 35px !important;
					font: 400 12px $lato !important;       
				}
			}  
			.item-shop-discounts{
				top: .25em !important;
				left: .25em !important;
				span{
					height: 35px !important;
					width: 35px !important;
					font: 400 12px $lato !important;       
				}
			}
		}
		.item-shop-text{
			.item-shop-h2-first,.item-shop-h2-second{
				width: 50% !important;
			}
			.item-shop-h2-first{
				margin-right: 2em !important;
			}
		}
	}
	.cart-second{
		.cart-second-product{
			.cart-second-img{
				width: 35%;  
			}
			.cart-second-name{
				.input-group{
					margin-top: 1em;
					button{
						width: 35px;
					}
					input{
						width: 35px;;
					}
				}
			}
			.cart-second-price{
				width: 20%;
			}
		}   
	}
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					width: 95% !important; 
					top:2em;
					.item-text-align{
						width:75%;
						h1{
							font-size:20px;
							line-height: 30px;
							width:100%;
						}
						span{
							font-size:11px; 
						}
					}
				}
			}      
		}
	} 
	.shop-filter{
		.shop-filter-cont{
			width: 98%;
		}
	}
	.shop-products{
		.shop-products-second{
			display: block;
			.item-shop{   
				margin-bottom: 4em;
				.item-shop-cont{ 
					.item-shop-prev{
						.item-shop-img{         
							.item-shop-hide{
								.item-shop-hide-top{
									position: relative;
									top: .5em;
									right: 1em;
								}
							}
							.item-shop-new, .item-shop-discounts{
								top: -.5em; 
								left: -.5em;        
							}
						}       
						.item-shop-text{
							margin-top: .5em;  
						} 
					}
				}
			}
		}
		.shop-products-list{
			.item-shop{
				margin-bottom: 0 !important;
				.item-shop-cont{
					.item-shop-prev{
						.item-shop-img{
							width: 25% !important;
						}
						.item-shop-text-list{
							margin-left: 2.5% ;
							margin-right: 2.5% ;
							width: 50% !important;
						}
						.item-shop-text{
							width: 20% !important;
						}
					}
				}
			}
		}

	}     
}

@media screen and (max-width:400px){
	.single-product{
		.single-product-text{
			.single-text-desc{
				display: block;
				margin: 1em 0;
				h5{
					width: 100%;
				}
				h6{
					margin-top: 1em;
				}
				.single-social{
					justify-content: flex-start;
					margin-top: 1em;
				}
			}
		}
	}
	.single-description{
		.single-descriptions-links{
			a{
				font-size: 14px;
				&:nth-child(1),&:nth-child(3){
					padding: 0 .5em !important;
				}
			}
		}
		.owl-carousel{
			.single-description-reviews{
				.single-description-img{
					width: 20% !important;
					margin-top: -4em;
				} 
				.single-description-text{
					width: 80% !important;
				}
			}
		}
	}     
	.single-product{
		.single-product-text{
			form{
				.input-group{
					input{
						display: block !important;
						width: 100% !important;
					}
					button{
						background: #eee !important;
					}
				}
			}
		}
	}
	.breadcrumb-wishlist{
		h1{
			font-size: 40px !important;
		}
	}    
	.wishlist-empty{
		img{
			width: 75%;
		}
		h1{
			font: 700 19px $rale;
			line-height: 32px;
			width: 95%;
		}
		h2{
			width: 95%;
			@include margin;
			margin-top: 1em;
		}
	}
	.wishlist-second{
		form{
			span{
				width: 35px !important;
				height: 35px !important;
			}
		}
	}
	header{
		.nav{
			height: 5em;     
			.nav-brand{
				img{
					width: 95%;
				}
			}       
			.nav-search-responsive{
				width: 57%;
				margin-left: 3%;
				form{
					div{
						button{
							padding: 0 1em;
						}
					}
				}
			}
			.nav-toggle-responsive{
				a{
					span{
						height: 4px;
						width: 25px;
						margin-bottom: 4px;
					}
				}
			}
		}
	}  
	.heart-hide{
		right: .5em !important;
	}
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					.item-text-align{
						h1{
							font-size:15px;
							line-height: 25px;
						}
						span{
							font-size:10px; 
						}
						a{
							font-size:10px;
						}
					}
				}
			}      
		}
	} 
	.index-icons{
		display:block;
		width:100%;
		padding: 1em 0;
		.index-icons-item{
			padding: 1.5em .5em;
			margin-left:0;
			margin-right:0;
			width:95%;
			@include margin;
			.index-icons-cont{
				h1{
					font: 700 20px $rale;
					line-height: 27px;
					color: #333;
					margin-top: 1.25em;
				}
				h2{
					font: 500 14px $rale;
					color: #666;
					line-height: 23px;
				}
			}
		}
	}  
	.index-shop{
		.index-shop-items{
			.item-shop{   
				.item-shop-cont{ 
					.item-shop-prev{
						.item-shop-img{         
							.item-shop-hide{
								.item-shop-hide-top{
									.item-shop-hide-a, .item-shop-hide-bottom{ 
										a{
											height: 30px;    
											width: 30px; 
											svg{
												width: 14px !important;
											}
										} 
									}
								}
							}
							.item-shop-clock{
								width: 95%;
								margin-right: 2.5%;
								margin-left: 2.5%;
								bottom:.5em; 
								div{
									h1{
										font: 700 16px $lato;   
									} 
									h2{
										font: 400 11px $rale;
									}
								}
							}
							.item-shop-new, .item-shop-discounts{
								top: -.5; 
								left: -.5;
							}
						}       
					}
				}
			}
		}  
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-img{
				img{
					width: 200%;
					@include margin;
				}
			}
			.index-clock-text-flex{
				.index-clock-text{
					width:100%;
				}
			}
		}
	}
	.shop-filter{
		.shop-filter-cont{
			grid-template-columns: repeat(2,1fr);
			div{
				&:nth-child(2){
					display: none;
				}
			}
		}
	}                                                                                                                                     
}  

@media screen and (max-width:375px){
	.index-shop{
		.index-shop-items{
			.item-shop{   
				.item-shop-cont{ 
					.item-shop-prev{
						.item-shop-img{         
							.item-shop-hide{
								.item-shop-hide-bottom{ 
									bottom: .5em !important;
								}
							}
						}       
					}
				}
			}
		}  
	}
}

@media screen and (max-width:360px){
	.cart-second{
		.cart-second-product{
			.cart-second-name{
				a{
					font: 700 14px $rale;
					line-height: 26px;
				}  
				h2{
					font: 700 12px $rale;
				}
				.input-group{
					margin-top: .5em !important;
				}
				input,button{
					width: 30px !important;
				}
			}
			.cart-second-price{
				h3{
					font-size: 14px;
					bottom: 0;
				}
			}
		}   
	}
}      

@media screen and (max-width:350px){
	.pre-footer{
		.pre-footer-cont{
			.pre-footer-item{    
				.pre-footer-icon{
					margin-bottom: 1em;
					span{
						svg{
							width: 35px;
							color: #000 !important;
						}
					}
				}
				.pre-footer-text{
					h1{
						font: 700 14px $rale !important;
					}
					h2{
						font: 400 13px $rale !important;
					}
				}
			}
		}       
	}  
	.single-features{ 
		.single-features-second{
			display: grid !important;
		}
		h1{
			font: 700 22px $rale;
			line-height: 40px;
		}
		.owl-carousel{
			display: none !important;
		}
	} 
	.about-why-us{
		.about-why-us-benefits{
			.about-why-us-carac{
				.about-why-us-item{
					.about-why-us-text{
						h3{
							font: 700 16px $rale;
							line-height: 30px;
						}
						h4{
							font: 300 12px $rale;
							line-height: 22px;
						}
					}
				}
			}
		}
	}
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					top:1em; 
					.item-text-align{
						left:-1em;
					}
				}
			}      
		}
	} 
	.shop-products{
		.shop-products-list{
			.item-shop{
				margin-bottom: 0 !important;
				.item-shop-cont{
					.item-shop-prev{
						.item-shop-img{
							width: 30% !important;
						}
						.item-shop-text-list{
							margin-left: 2.5% ;
							margin-right: 2.5% ;
							width: 45% !important;
							a{
								font-size:14px;
							}
							h3{
								font-size:12px
							}
						}
						.item-shop-text{
							width: 20% !important;
							h2{
								font-size: 14px;
							}
						}
						.item-shop-new,.item-shop-discounts{
						span{
							height: 30px !important;
							width: 30px !important;
							font-size: 11px;
						}
					}
				}       
				}
			}
		}
	}
}

@media screen and (max-width:300px){
	.pre-footer{
		margin-bottom: 0;
		padding-bottom: 0;        
		.pre-footer-cont{
			grid-template-columns: 1fr;
			.pre-footer-item{
				width: 100%;
				grid-column: span 2;
				.pre-footer-icon{
					span{
						svg{
							width: 45px;
						}
					}
				}
				.pre-footer-text{
					h1{
						font: 700 16px $rale !important;
					}
					h2{
						font: 400 14px $rale !important;
					}
				}
			}
		} 
	}                                       
	.footer{
			.footer-links{
				margin-bottom: -1em;
				display: block;
				grid-template-columns: 1fr;
				.footer-links-item{
					grid-column: span 2;
				}
			}
			.footer-last{
				margin-top: 1em !important;
			}
		}
}   