
@import 'dashboard-layouts';

.index-carousel{
	width: 100%;
	position: relative;
	.owl-carousel{
		width: 100%;
		height: 100%;
		.item{
			width: 100%;
			position: relative;
            margin-bottom:5em;
			.item-img{
				width: 100%;
				img{
					width: 100%;  
					&:nth-child(2){
						display: none;
					}
				}
			}                         
			.item-text{  
				position: absolute;  
				top: 10em;  
				width: 80%;
				display: flex;
				margin-left: 10%;
				margin-right: 10%;   
				.item-text-align{  
					width: 49%;                                     
					display: block;
					position: relative;
					span{
						padding: .5em 2em;
						font: 400 13px $rale;
						line-height: 20px;  
					}
					h1{
						font: 700 40px $rale;
						line-height: 50px; 
						width: 75%;            
					}   
					h2{
						font: 300 14px $rale;
						line-height: 25px;
						width: 100%;        
						margin-top: -.5em;   
						margin-bottom: 4em;   
					}        
					a{
  						border-width: 2px;
						border-style: solid;
						border-radius: 10em;  
						padding: 1em 3em; 
						font: 400 13px $rale;  
						letter-spacing: 1px;   
						cursor: pointer;
						text-transform:uppercase;
					}  
				}  
			}     
			.izquierda{
				justify-content: flex-start !important;       
			}
			.derecha{
				justify-content: flex-end !important;
				text-align: right !important;
				h1{
					text-align: right !important;
					margin-left: 25% !important
				}
			}
			.centro{
				justify-content: center !important;       
                text-align: center !important;
                h1{
                    margin-left: auto !important;
                    margin-right: auto !important;
                }
			}
            .carousel-buttons{
                @include flex;
                margin-top:.5em;
                button{
                    margin: 0 .5em
                }
            }
		}      
		.owl-nav{
			position: absolute;
			top: 0;
			@include flex;    
			height: 100%;
			width: 100%;
			justify-content: space-between;   
			.owl-next,.owl-prev{
				position: relative;
				width: 1em;
				font-size: 3em; 
				height: 100%;
				@include flex;
			}
		}
	}
} 

.index-icons{
	width: 100%;
	@include margin;
	@include flex;
	justify-content: space-between;
    padding-bottom:3em;
	.index-icons-item{
		width: 90%;
		margin-left: 1%;
		margin-right: 1%;  
		padding: 2.5em 1em;
		position: relative;
		&::after{
			content: '';
			width: 87%;///
			height: 87%;
			background: transparent;
			display: block;
			border: 2px solid #c48e94;
			position: absolute;  
			top: 6.5%;  
			bottom: 6.5%;
			left: 6.5%;
			right: 6.5%;
		}       
		&:hover{
			-webkit-box-shadow: 0px 0px 7px 2px rgba(170, 170, 170, 0.3);
			-moz-box-shadow:    0px 0px 7px 2px rgba(170, 170, 170, 0.3);
			box-shadow:         0px 0px 7px 2px rgba(170, 170, 170, 0.3);
		}
		.index-icons-cont{
			text-align: center;
			span{
				@include flex;
				img{
					width: 4em !important;
				}
			}
			h1{
				font: 700 20px $rale;
				line-height: 27px;
				color: #333;
				margin-top: 1.25em;
			}
			h2{
				font: 500 14px $rale;
				color: #666;
				line-height: 23px;
                width:90%;
                @include margin;
			}
            button{
                position:relative;
                z-index:10
            }
		}
	}
}  

.index-categories{
	width: 98%;
	@include margin;
	margin-top: 1em; 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1.25em;  
	.index-categories-item{
		cursor: pointer; 
		img{
			width: 100%;
		}
		.index-categories-text{
			height: 85%;  
			width: 80%;        
			margin-top: 5%;    
			margin-bottom: 5%; 
			@include margin; 
			display: flex; 
			.index-categories-text-sub{				
				position: relative;
				h2{
					font: 700 13px $lato;
					line-height: 21px;
					text-transform: uppercase;
				}
				h1{
					font: 700 20px $rale;
					line-height: 25px;
					margin-top: -.1em;
				}
				a{
					display: flex;
					font: 700 12px $lato;
					line-height: 21px;
					cursor: pointer;
					svg{
						width: 11px !important;  
						color: inherit;
						margin-left: .5em;
					}
				}
			}
		}
		// Posición texto vertical
		.index-categories-text-top{
			align-items: flex-start;
		}
		.index-categories-text-center{
			align-items: center;
		}
		.index-categories-text-bottom{
			align-items: flex-end;
		}
		// Posición texto horizontal
		.index-categories-text-left{
			justify-content: flex-start;
		}
		.index-categories-text-center{
			justify-content: center;
		}
		.index-categories-text-right{
			justify-content: flex-end;
		}
	}
	// Alto del cuadro
	.categories-height1{
		height: 18em;
	}
	.categories-height2{
		height: 37.25em !important;
		grid-row: span 3;	
	}
	// Ancho del cuadro
	.categories-width1{
		grid-column: span 1;
	}
	.categories-width2{
		grid-column: span 2;
	}
	.categories-width3{
		grid-column: span 3;
	}
	.categories-width4{
		grid-column: span 4;
	}
}

.index-clock{
	width: 100%;
	position: relative;
	margin-top: 1em; 
	margin-bottom: 8em;
	.index-clock-cont{
		width: 100%;
		position: relative;
		overflow: hidden;
		.index-clock-img{
			width: 100%;
			position: relative;
			@include flex;
			img{
				width: 100%;
			}
		}
		.index-clock-text-flex{
			@include flex;
			.index-clock-text{
				position: absolute;
				border-radius: 100em;
				top: 2em;
				background: white;
				height: 400px;
				min-height: 400px;
				width: 400px;
				min-width: 400px;
				text-align: center;
				h4{
					font: 400 12px $rale;
					line-height: 20px;
					padding: .4em 1em;
					border-radius: .15em;
					margin-top: 6em;
					width: 10em;
					margin-left: 50%;
					transform: translate(-50%);
					text-transform: uppercase;
				}
				h1{
					color: #333;
					font: 700 30px $rale;
					line-height: 40px;
					margin-top: .75em;
				}
				.index-clock-clock{
					width: 100%;
					position: relative;
					margin-bottom: 2em;
					.item-shop-clock{
						width: 100%;
						@include flex;
						div{
							border-radius: 100em;
							width: 100%;
							background: #eee;
							height: 75px;
							width: 75px; 
							margin: 0 .4em;
							@include flex;
							align-items: center !important;
							div{
								width: 100%;
								display: block;
								h1{
									font: 700 33px $lato;
									margin: 0 !important;
									margin-top: .15em !important;
								}
								h2{
									font: 400 15px $lato; 
									margin: 0 !important;
									color: #666;
								}
							}
						}
					}
				}
				a{
					background: red;
					width: 100%;
					border-width: 2px;
					padding: 1em 3em;
					border-style: solid;
					border-radius: 10em;
					font: 400 12px $lato;
					color: #333;
					@include flex;
					width: 8em;
					margin-left: 50%;
					transform: translate(-50%);
					svg{
						width: 11px;
						margin-left: .5em;
					}
				}
			}
		}
	}
}                                                             

@media screen and (max-width:1125px){
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{  
					top: 6em;  
					.item-text-align{  
						width: 55%;                                     
						h1{
							font: 700 35px $rale;
							line-height: 45px; 
						}   
						h2{
							margin-bottom: 3em;   
						}        
					}  
				}     
			}      
		}
	}
	.index-icons{
		width: 90%;
		.index-icons-item{
			width: 100%;
			.index-icons-cont{
				h2{
					width: 95%;
					@include margin;
				}
			}
		}
	}
	.index-shop{
		width: 100%;
		position: relative;
		margin-top: 3em;
		h1{
			font: 700 30px $rale;
			line-height: 37px;
			color: #333;
			text-align: center; 
		}
		h2{
			width: 45%;
			text-align: center;
			font: 400 16px $rale;
			line-height: 25px;
			color: #666;
			@include margin;
		}         
		.index-shop-items{
			width: 75%;
		}
	}
}

@media screen and (max-width:1000px){
    .close-menu{
        display: none;
    }
    .index-carousel{
		.owl-carousel{
			.item{
				.item-img{
					img{
						width: 100%;  
					}
				}                         
				.item-text{  
					top: 5em;  
					.item-text-align{  
						h1{
							font: 700 30px $rale;
							line-height: 40px; 
						}   
						h2{
							width: 90%;
						}
					}  
				}     
			}      
			.owl-nav{
				.owl-next,.owl-prev{
					font-size: 2.5em; 
				}
			}
		}
	} 
	.index-icons{
		.index-icons-item{
			.index-items-cont{
				h1{
					font-size: 18px;
				}
			}
		}
	}
	.index-shop{
		h2{
			width:65%;
		}
		.index-shop-items{
			width: 85%;
		}
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					height: 325px;
					min-height: 325px;
					width: 325px;
					min-width: 325px;
					h4{
						margin-top: 4.5em;
						width: auto;
					}
					h1{
						font: 700 20px $rale;
						line-height: 30px;
					}
					.index-clock-clock{
						width: 85%;
						@include margin;
						.item-shop-clock{
							div{
								height: 60px;
								width: 60px; 
								div{
									h1{
										font: 700 25px $lato;
									}
									h2{
										font: 400 12px $lato; 
									}
								}
							}
						}
					}
					a{
						font: 400 11px $lato;
					}
				}
			}
		}
	}
}

@media screen and (max-width:950px){
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{  
					top: 3em;  
					.item-text-align{  
						h2{
							margin-bottom:2em;
						}   
					}  
				}     
			}      
		}
	} 
}

@media screen and (max-width:900px){
    .index-icons{
		width: 95%;
		padding: 2em 0;
		background: white;
		.index-icons-item{
			width: 100%;
			.index-icons-cont{
				h1{
					font: 700 16px $rale;
					line-height: 23px;
				}
			}
		}
	}  
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					top:1em;
				}
			}
		}
	}
}

@media screen and (max-width:850px){
    .index-carousel{
		.owl-carousel{
			.item{
				.item-text{  
					.item-text-align{  
						h1{
							width:85%;
						}
						h2{
							margin-bottom:2em;
							display: none;
						}   
					}  
				}     
			}      
		}
	} 
}

@media screen and (max-width:800px){
    .index-icons{
		width: 100%;
		.index-icons-item{
			width: 100%;
			padding:2em .5em;
			&::after{
				width: 95%;
				height: 95%;
				top: 2.5%;
				left: 2.5%;
				right: 2.5%;
			}
		}
	}
	.index-categories{
		grid-template-columns: 1fr 1fr;
		// Ancho del cuadro
		.categories-width1{
			grid-column: span 1;
		}
		.categories-width2{
			grid-column: span 2;
		}
		.categories-width3{
			grid-column: span 2;
		}
		.categories-width4{
			grid-column: span 2;
		}
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					top: 1em;
					background: transparent;
					height: 100%;
					min-height: 100%;
					width: 80%;
					min-width: 80%;
					@include margin;
					h4{
						font: 400 11px $rale;
						border-radius: .15em;
						margin-top: 1em;
						width:10em;
					}
					h1{
						color: #fff;
						font: 700 25px $rale;
						line-height: 35px;
						margin-top: .5em;
					}
					.index-clock-clock{
						width: 100%;
						position: relative;
						margin-bottom: 2em;
						.item-shop-clock{
							width: 100%;
							@include flex;
							div{
								border-radius: 100em;
								width: 100%;
								background: #fff;
								height: 75px;
								width: 75px; 
								margin: 0 .4em;
								@include flex;
								align-items: center !important;
								div{
									width: 100%;
									display: block;
									h1{
										font: 700 33px $lato;
										margin: 0 !important;
										margin-top: .15em !important;
										color:#333 !important;
									}
									h2{
										font: 400 15px $lato; 
										margin: 0 !important;
										color: #666;
									}
								}
							}
						}
					}
					a{
						width: 100%;
						border-width: 2px;
						padding: 1em 3em;
						border-style: solid;
						border-radius: 10em;
						font: 400 12px $lato;
						color: #333;
						@include flex;
						width: 8em;
						margin-left: 50%;
						transform: translate(-50%);
						svg{
							width: 11px;
							margin-left: .5em;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:750px){
    .index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					.item-text-align{
						h1{
							font-size: 25px;
						}
						a{
							font-size: 12px;;
						}
					}  
				}
			}
			.owl-nav{
				.owl-next, .owl-prev{
					font-size: 2em;
				}
			}
		}
	} 
	.index-shop{
		h2{
			width:85%;
		}
		.index-shop-items{
			width: 95%;
		}
	}
}

@media screen and (max-width:675px){
	.index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					.item-text-align{
						h1{
							font-size: 23px;
							line-height: 33px;
							margin-bottom: 1em;
						}
						a{
							font-size: 11px;;
						}
					}  
				}
			}
		}
	} 
}

@media screen and (max-width:650px){
    .index-shop{
		width: 100%;
		position: relative;
		margin-top: 3em;
		.index-shop-items{
			grid-template-columns: repeat(3,1fr);
		}  
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					a{
						margin-top:-1em;
					}
				}
			}
		}
	}
}

@media screen and (max-width:600px){
    .index-carousel{
		.owl-carousel{
			.item{
				.item-img{
					position: relative;
					img{
						&:nth-child(1){
							display: none;
						}
						&:nth-child(2){
							display: block;
						}
					}
				}
				.item-text{
					width: 90% !important; 
					.item-text-align{
						width:65%;
						h1{
							font-size:25px;
							line-height: 35px;
							width:100%;
						}
					}
				}
			}      
		}
	} 
	.index-icons{
		padding: 0 0;
		margin: 1em 0;
		align-items:flex-start;
		.index-icons-item{
			height:auto;
			&::after{
				display: none;
			}       
			.index-icons-cont{
				h1,h2{
					width: 100%;
				}
				h1{
					font-size:15px;
				}
				h2{
					font-size:14px;
				}
			}
		}
	}  
	.index-shop{
		.index-shop-items{
			.item-shop{   
				width: 100%; 
				.item-shop-cont{ 
					.item-shop-prev{
						.item-shop-img{
							.item-shop-hide{
								.item-shop-hide-top{
									.item-shop-hide-a{ 
										a{
											position:relative;
											right:.5em;
											top:.5em;
									}
								}
							}
								.item-shop-new,.item-shop-discounts{
								top: -.5em; 
								left: -.5em;
								}
							}
						}       
					}
				}
			}
		}  
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					.index-clock-clock{
						.item-shop-clock{

							div{
								height: 60px;
								width: 60px; 
								div{
									h1{
										font: 700 20px $lato;
										margin-top: .5em !important;
									}
									h2{
										font: 400 12px $lato; 
									}
								}
							}
						}
					}
					a{
						font: 400 11px $lato;
					}
				}
			}
		}
	}
}

@media screen and (max-width:575px){
	.index-clock{
		.index-clock-cont{
			.index-clock-text-flex{
				.index-clock-text{
					h4{
						display:none;
					}
				}
			}
		}
	}
}

@media screen and (max-width:550px){
	.index-shop{
		.index-shop-items{
			grid-template-columns: repeat(2,1fr);
			grid-row-gap: 35px;
		}  
	}
}

@media screen and (max-width:500px){
    .index-categories{
		grid-gap: .5em;
		.categories-height1{
			height: 9em;
		}
		.categories-height2{
			height: 19.5em !important;
			grid-row: span 2;	
		}
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-img{
				img{
					width: 150%;
					@include margin;
				}
			}
		}
	}
	.index-categories{
		.index-categories-text-sub{
			button{
				font-size: 9px !important;
			}
		}
	}
}

@media screen and (max-width:450px){
    .index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					width: 95% !important; 
					top:2em;
					.item-text-align{
						width:75%;
						h1{
							font-size:20px;
							line-height: 30px;
							width:100%;
						}
						span{
							font-size:11px; 
						}
					}
				}
			}      
		}
	} 
}

@media screen and (max-width:400px){
    .index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					.item-text-align{
						h1{
							font-size:15px;
							line-height: 25px;
						}
						span{
							font-size:10px; 
						}
						a{
							font-size:10px;
						}
					}
				}
			}      
		}
	} 
	.index-icons{
		display:block;
		width:100%;
		padding: 1em 0;
		.index-icons-item{
			padding: 1.5em .5em;
			margin-left:0;
			margin-right:0;
			width:95%;
			@include margin;
			.index-icons-cont{
				h1{
					font: 700 20px $rale;
					line-height: 27px;
					color: #333;
					margin-top: 1.25em;
				}
				h2{
					font: 500 14px $rale;
					color: #666;
					line-height: 23px;
				}
			}
		}
	}  
	.index-shop{
		.index-shop-items{
			.item-shop{   
				.item-shop-cont{ 
					.item-shop-prev{
						.item-shop-img{         
							.item-shop-hide{
								.item-shop-hide-top{
									.item-shop-hide-a, .item-shop-hide-bottom{ 
										a{
											height: 30px;    
											width: 30px; 
											svg{
												width: 14px !important;
											}
										} 
									}
								}
							}
							.item-shop-clock{
								width: 95%;
								margin-right: 2.5%;
								margin-left: 2.5%;
								bottom:.5em; 
								div{
									h1{
										font: 700 16px $lato;   
									} 
									h2{
										font: 400 11px $rale;
									}
								}
							}
							.item-shop-new, .item-shop-discounts{
								top: -.5; 
								left: -.5;
							}
						}       
					}
				}
			}
		}  
	}
	.index-clock{
		.index-clock-cont{
			.index-clock-img{
				img{
					width: 200%;
					@include margin;
				}
			}
			.index-clock-text-flex{
				.index-clock-text{
					width:100%;
				}
			}
		}
	}
}

@media screen and (max-width:350px){
    .index-carousel{
		.owl-carousel{
			.item{
				.item-text{
					top:1em; 
					.item-text-align{
						left:-1em;
					}
				}
			}      
		}
	} 

}
