@import 'layouts';

.breadcrumb-shop{
	margin-top: 2em;
	h1{
		font: 700 50px $rale;
		text-align: left; 
		margin-top: 0;
		margin-left: 3%;
	}
	h6{
		text-align: left;
		color:#bbb;
		margin-left:3%;
		position:relative;
		top: 2em;
		font-weight: 600;
		font-family: $lato;
	}
}

@import 'shop/filter';

@import 'shop/products';

@import 'responsive';                          