@import 'layouts';

.breadcrumb-wishlist{
	h1{
		font-size: 60px !important;
		margin-top: -.5em !important;
	}
}

.wishlist{
	width: 80%;
	@include margin;
	margin-top: 3em;
	margin-bottom: 6em;
	.wishlist-head{
		display: grid;
		grid-template-columns: repeat(6,1fr);  
		grid-column-gap: 20px;    
		.wishlist-head-item{  
			&:nth-child(1){
				grid-column: span 3; 
			}
			&:nth-child(3){
				grid-column: span 2;
			}
			h2{
				font: 800 20px $rale;
				color: #333;
				line-height: 30px;
			}
		}
	}
	.wishlist-product{
		display: grid;
		grid-template-columns: repeat(6,1fr);
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		padding: 1em 0;
		grid-column-gap: 20px;    
		.wishlist-product-item{
			@include flex;
			justify-content: flex-start;
			&:nth-child(1){
				grid-column: span 3;
				.wishlist-product-img{
					width: 6em;
					margin-right: 1.5em;
					img{
						width: 100%;
					}
				}
				.wishlist-product-name{
					a{
						font: 700 16px $rale;
						color: #333;
						line-height: 22px;
					}
				}
			}
			&:nth-child(2),&:nth-child(3){
				h3{
					font: 700 16px $lato;
					color: $c2;
					line-height: 22px;
					margin-right: 1em;  
				}
				.no-dis{
					color: #aaa;   
				}
			}
		}
		form{
			display: flex !important;  
			align-items: center !important;
			justify-content: space-between !important;    
			button{
				outline: none;
				border:0;
				padding: 1em 0;
				background: $c2;
				color: white;
				font: 700 12px $lato;
				width: 10em;
				border-radius: .25em;
				cursor: pointer;
			} 
			.button-no-dis{
				background: #ddd; 
				color: #666;
			}
			span{
				display: block;
				color: $c2;
				cursor: pointer;
				@include flex;
			}
		}
	}
}
.wishlist-empty{
	width: 100%;
	text-align: center;
	padding: 2em 0 8em 0;
	img{
		margin-bottom: 2em;
	}
	h1{
		font: 700 28px $rale;
		color: #333;
		line-height: 40px;
	}
	h2{
		font: 500 16px $rale;
		line-height: 29px;
		color: #666;
		margin-top: -1em;
		margin-bottom: 1.5em;
	}
	a{
		color: white;
		padding: 1em;
		width: 15em;
		background: $c2;
		font: 700 14px $rale;
		border-radius: 10em;
		display: block;
		margin-left: 50%;
		@include flex;
		transform: translate(-50%);
	}
}
.wishlist-second{
	display: none;   
	width: 95%;
	margin-top: 4em;
	@include margin;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px 20px;
	margin-bottom: 4em;
	.wishlist-second-product{   
		width: 100%;
		position: relative;
		.wishlist-second-img{
			width: 100%;
			margin-bottom: 1em;
			img{
				width: 100%;
			}
		}
		.wishlist-second-text{
			width: 100%;
			a{
				font: 700 20px $rale;
				color: #000;
				line-height: 29px;
				margin-top: 1em;
			}
			h3{
				font: 700 13px $rale;
				color: $c1;
				line-height: 20px;
				margin-top: 0;
				margin-bottom: .5em;
			}
			.no-dis{
				color: #999;
			}
		}
		form{
			width: 100%;
			button{
				display: block;
				outline: none;
				border: 0;
				background: $c1;
				color: white;
				text-transform: uppercase;
				font: 600 12px $lato;
				padding: .75em 2em;
				cursor: pointer;
			}
			.button-no-dis{
				background: #ddd;
				color: #666;
			}
			span{
				position: absolute;
				display: block;
				top: -.5em;
				right: -.5em;
				cursor: pointer;
				height: 40px;
				width: 40px;
				background: $c1;
				color: white;
				@include flex;
				border-radius: 10em;
			}
		}
	}
}

@import 'responsive';