.about-why-us{
	width: 100%;
	position: relative;
	padding: 3em 0;
	background: #030c1d;
	margin-top: 4em;
	padding-bottom: 5em;
	h1{
		text-align: center;
		color: white;
		font: 700 28px $rale;
		line-height: 36px;
	}
	h2{
		text-align: center;
		color: white;
		font: 400 16px $rale;
		line-height: 25px;
		margin-top: -.75em;
	}
	.about-why-us-benefits{
		width: 85%;
		@include margin;
		@include flex;
		margin-top: 3em;
		.about-why-us-video{
			width: 30em;
			@include flex;
			justify-content: flex-start;
			img,video{
				width: 90%;
			}
		}
		.about-why-us-carac{
			margin-left: 4em;
			.about-why-us-item{
				width: 100%;
				display: flex;
				.about-why-us-icon{
					@include flex;
					margin-right: 1.5em;
					span{
						@include flex;
						svg{
							width: 35px;
							color: $c2;   
						}
					}
				}
				.about-why-us-text{
					h3{
						font: 700 19px $rale;
						color: white;
						line-height: 30px;
					}
					h4{
						font: 300 13px $rale;
						color: white;
						line-height: 22px;
						margin-top: -1em;   
					}
				}
			}
		}
	}
}                                                                                         