  
@media screen and (max-width:1125px){
	.pre-footer{
		.pre-footer-cont{
			width: 95%;
		} 
	}                                       
	footer{                                   
		.footer{
			.footer-links{
				width: 95%;
			}        
			.footer-last{
				width: 95%;
			}
		}
	} 
} 

@media screen and (max-width:900px){
	.pre-footer{
		.pre-footer-cont{
			grid-template-columns: repeat(2,1fr);
			width: 65%;           
			.pre-footer-item{
				width: 100%;
				margin-bottom: 1em;
				justify-content: flex-start;  
				.pre-footer-icon{
				}
			}
		} 
	}                                       
	footer{                                   
		.footer{
 			.footer-links{
				display: block;
				.footer-links-item{
					width: 50% !important;
					float: left;   
					text-align: left;
					margin-bottom: 1em;     
					.footer-input{
						width: 90%;
						input{
							height: 55px;
							padding-bottom: 0;
							padding-top: 0;
						}
						button{
							top: 0px;
							right: -2px;
							@include flex;
							border-radius: 10em;
							width: 55px;
							height: 55px;
						}
					}
				}     
			} 
			.footer-last{
				margin-top: 4em;
				h3{
					line-height: 28px !important;
				}
				.footer-last-cards{
				padding-right: 0em;
				}
			}
		}
	}                                                                   
}

@media screen and (max-width:700px){
	.pre-footer{
		.pre-footer-cont{
			grid-template-columns: repeat(2,1fr);
			width: 75%;           
		} 
	}                                       
}

@media screen and (max-width:600px){
	body{
		background: #e6e6e6;
	}
	#up{
		display: none;
	}
.pre-footer{
	background: #e6e6e6;
	margin-bottom: 0em;           
	.pre-footer-cont{
		width: 85%;
		.pre-footer-item{    
			width: 100%;
			display: block;  
			text-align: center;
			margin-bottom: 1.25em;
			.pre-footer-icon{
				margin-right: 0em;  
				margin-bottom: 1em;
				span{
					svg{
						width: 45px;
						color: #000 !important;
					}
				}
			}
		}
	}       
}                                       	
	.pre-footer-newsletter{
		display: block;
		margin-top: 2em;
	}
	footer{ 
		background: white;
		padding-top: 2em;  
		margin-top: 2em;
		.footer{
			.footer-links{
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: 95%;
				margin-left: 5%;
				.footer-links-item{
					width: 100% !important;      
					&:nth-child(1){
						grid-column: span 2;
					}  
					&:nth-child(2),&:nth-child(3){
						width: 100%;   
					}
					&:nth-child(4){
						display: none !important;     
					}
					h1{
						font: 700 20px $rale;
						margin-bottom: 1.25em;
						color: #353535;
						width: 100%; 
					}
					h2, a{
						display: block;
						font: 600 14px $rale;
						color: #666;
						line-height: 20px;
						margin-bottom: 1.25em;
					}  
					h2{
						display: flex;   
						a{
							margin-left: .5em; 
							font-family: $open;
						} 
					}              
					a{
						&:hover{
							color: #333;
						}
					}
					.footer-input{
						width: 100%;
						border-radius: 10em;
						position: relative;
						margin-top: 3em;
						input{
							border: 0;
							border-radius: 10em;
							padding: 0 5%;
							outline: none;
							border: 1px solid #ccc;
							width: 90%;
							height: 45px;
						}
						button{
							display: block;
							position: absolute;
							top: 0px;
							right: -2px;
							background: $c2;
							color: white;
							border: 0;
							outline: none;
							@include flex;
							border-radius: 10em;
							width: 45px;
							height: 45px;
							font-size: 1.25em;
							cursor: pointer
						}
					}
				}
			}
			.footer-last{
				display: block;
				.footer-last-text{
					width: 90%;
					margin-bottom: 1em;
					@include margin;
					h3{
						font: 500 14px $rale;
						text-align: center;
					}
				}
				.footer-last-cards{
				width: 100%;
				justify-content: center;
					.footer-last-cards-img{
						display: none;
					}
					.footer-last-cards-icons{
						@include flex;
						span{
							display: block;
							margin: 0 .5em;
							svg{
								width: 55px;      
							}
						}
					}
				}
			}
		}
	}
	.breadcrumb{
		margin-top: 2em;
	}
}
   
@media screen and (max-width:450px){
	.pre-footer{
		.pre-footer-cont{
			width: 100%;
		}       
	}      
}
  
@media screen and (max-width:350px){
	.pre-footer{
		.pre-footer-cont{
			.pre-footer-item{    
				.pre-footer-icon{
					margin-bottom: 1em;
					span{
						svg{
							width: 35px;
							color: #000 !important;
						}
					}
				}
				.pre-footer-text{
					h1{
						font: 700 14px $rale !important;
					}
					h2{
						font: 400 13px $rale !important;
					}
				}
			}
		}       
	}  
}

@media screen and (max-width:300px){
	.pre-footer{
		margin-bottom: 0;
		padding-bottom: 0;        
		.pre-footer-cont{
			grid-template-columns: 1fr;
			.pre-footer-item{
				width: 100%;
				grid-column: span 2;
				.pre-footer-icon{
					span{
						svg{
							width: 45px;
						}
					}
				}
				.pre-footer-text{
					h1{
						font: 700 16px $rale !important;
					}
					h2{
						font: 400 14px $rale !important;
					}
				}
			}
		} 
	}                                       
	.footer{
			.footer-links{
				margin-bottom: -1em;
				display: block;
				grid-template-columns: 1fr;
				.footer-links-item{
					grid-column: span 2;
				}
			}
			.footer-last{
				margin-top: 1em !important;
			}
		}
} 