.contact-icons{
	width: 85%;
	@include margin;
	@include flex;
	justify-content: space-between;
	margin-top: 4em;
	.contact-icons-item{
		width: 100%;
		text-align: center;
		span{
			width: 100%;
			@include flex;
			svg{
				width: 2em !important;
				color: $c2;
			}
		}
		h1{
			font: 700 22px $rale;
			color: #333;
			line-height: 32px;
			margin-top: 1.2em;
			margin-bottom: .5em;
		}
		a{
			font: 400 16px $lato;
			color: #666;
			line-height: 22px;
		}
	}
}                                                   