.index-shop{
	width: 100%;
	position: relative;
	margin-top: 3em;
	h1{
		font: 700 30px $rale;
		line-height: 37px;
		color: #333;
		text-align: center; 
	}
	h2{
		width: 45%;
		text-align: center;
		font: 400 16px $rale;
		line-height: 25px;
		color: #666;
		@include margin;
	}         
	.index-shop-items{
		width: 65%;
		@include margin;   
		position: relative; 
		display: grid; 
		grid-template-columns: repeat(4,1fr);
		grid-column-gap: 20px;
		grid-row-gap: 50px;
		margin-top: 3em;
		.item-shop{   
			width: 100%; 
			.item-shop-cont{ 
				max-width: 100%;  
				position: relative;
				.item-shop-prev{
					width: 100%;
					.item-shop-img{         
						width: 100%;
						position: relative;
						cursor: pointer;
						img{
							width: 100%;
						}
						.item-shop-hide{
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;   
							height: 100%; 
							opacity: 0;
							.item-shop-hide-top{
								width: 100%;
								height: 1em;
								height: 50%;
								.item-shop-hide-a{ 
								display: flex;
								justify-content: flex-end;   
								align-items: center;  
									a{
										display: block;
										background: white;
										border-radius: 10em;
										height: 35px;    
										width: 35px; 
										@include flex; 
										margin-bottom: .75em;   
										-webkit-box-shadow: 7px 9px 10px 0px rgba(170, 170, 170, 0.4);    
										-moz-box-shadow: 7px 9px 10px 0px rgba(170, 170, 170, 0.4);    
										box-shadow: 7px 9px 10px 0px rgba(170, 170, 170, 0.4);    
										&:hover{
											background: $c2;
										}
										svg{
											color: #666;  
											transition: .3s all; 
											width: 16px !important;       
										}
										&:hover svg{
											color: #fff
										}
									} 
								}
							}
							.item-shop-hide-bottom{
								width: 100%;
								height: 25%;     
								position: absolute;
								bottom: 0;    
								.item-shop-hide-a{ 
								display: flex;
								justify-content: center;    
								align-items: center;  
									a{
										display: block;
										background: white;
										border-radius: 10em;
										height: 35px;    
										width: 35px; 
										@include flex; 
										margin-bottom: .75em;   
										-webkit-box-shadow: 7px 9px 10px 0px rgba(170, 170, 170, 0.4);    
										-moz-box-shadow: 7px 9px 10px 0px rgba(170, 170, 170, 0.4);    
										box-shadow: 7px 9px 10px 0px rgba(170, 170, 170, 0.4);    
										&:hover{
											background: $c2;
										}
										svg{
											color: #666;  
											transition: .3s all;       
										}
										&:hover svg{
											color: #fff
										}
									} 
								}
							}  
						}
						.item-shop-clock{
							position: absolute;
							bottom: 0;
							left: 0;
							height: 30%;    
							width: 100%;   
							@include flex;   
							background: white;
							div{
								width: 100%;  
								h1{
									@include flex;
									font: 700 20px $lato;   
									color: #333;
									align-items: flex-end;     
									margin-bottom: -.5em;               
								} 
								h2{
									@include flex;
									font: 400 13px $rale;
									color: #666;    
								}
							}
						}
						.item-shop-new{
							position: absolute !important;
							top: 0; 
							left: 0;        
							span{
								background: #6aba63;     
								border-radius: 10em;
								height: 40px;
								width: 40px;
								color: white;   
								display: block;  
								@include flex; 
								font: 400 14px $lato;    
							}
						}
						.item-shop-discounts{
							position: absolute !important;
							top: 0; 
							left: 0;        
							span{
								background: $c2;        
								border-radius: 10em;
								height: 40px;
								width: 40px;
								color: white;   
								display: block;  
								@include flex; 
								font: 400 14px $lato;    
							}
						}
					}       
					.item-shop-text{
						width: 100%;
						text-align: center;
						margin-top: 1em;  
						a{
							cursor: pointer;
							display: block;
							font: 600 14px $rale;
							color: #666;
							line-height: 20px;
						}
						h2{
							font: 700 15px $open;
							line-height: 22px;
							color: #333;
							margin-top: .25em;
							float: left;   
							text-align: center;    
							width: 100%;    
						}
						.item-shop-h2-first{
							width: 46% !important;
							text-align: right !important;
							margin-right: 1em;
							text-decoration:line-through;
							color: rgba(0,0,0,.35);	
						}
						.item-shop-h2-second{
							width: 46% !important;
							text-align: left !important
						}
					} 
				}
			}
			&:hover .item-shop-hide{
				opacity: 1 !important;
			}
		}
		svg{
			width: 16px !important;
		}
	}  
}                                                                         
                